# 0. Project Set Up

In [83]:
# Import Python packages
import pandas as pd
import plotly.express as px
import plotly.io as pio
import matplotlib.pyplot as plt
import json
import sys
import cachetools
from datetime import timedelta
import math

# Import Snowflake modules
from snowflake.snowpark import Session
import snowflake.snowpark.functions as F
import snowflake.snowpark.types as T
from snowflake.snowpark import Window
from snowflake.snowpark.functions import col, to_date

# For display purposes, suppress FutureWarnings and UserWarnings from printing below the cells
import warnings
for warning_category in [FutureWarning, UserWarning]:
    warnings.filterwarnings('ignore', category=warning_category)

### Ïä§ÎÖ∏Ïö∞ ÌîåÎ†àÏù¥ÌÅ¨ Ïó∞Í≤∞

In [86]:
from snowflake.snowpark.context import get_active_session 
from getpass import getpass

connection_parameters = {
    'account' : "mapbobj-vp47779",
    'user' : 'soojin',
    "password": 'Kimbusan51480501@',

    
    'warehouse' : 'HACKATHON',
    'database' : 'RAW_DATA',
    'schema': 'GRANDATA'
}

# ÏÑ∏ÏÖò ÏàòÎèô ÏÉùÏÑ±
session = Session.builder.configs(connection_parameters).create()

# ÏøºÎ¶¨ ÌÉúÍ∑∏ ÏÑ§Ï†ï (Ï∂îÏ†ÅÏö©)
session.query_tag = {
    'origin': 'digital_nomad_project', # ÌîÑÎ°úÏ†ùÌä∏ Î™Ö
    'name' : 'remote_work_trend_analysis', # ÏûëÏóÖ Î™©Ï†Å
    'version' : {'major' : 1, 'minor' : 0},
    'attributes' : {
        'source' : 'jupyter',
        'analyst' : 'soojin kim '
    }
}

# print the current role, warehouse, and db/schema
print(f"role: {session.get_current_role()} | WH: {session.get_current_warehouse()} | DB.SCHEMA: {session.get_fully_qualified_current_schema()}")

role: "ACCOUNTADMIN" | WH: "HACKATHON" | DB.SCHEMA: "RAW_DATA"."GRANDATA"

In [87]:
# Ïû¨Ïó∞Í≤∞
from snowflake.snowpark import Session

connection_parameters = {
    "account": "mapbobj-vp47779",
    "user": "soojin",
    "password" : "Kimbusan51480501@",
    "warehouse": "HACKATHON",
    "database": "RAW_DATA",
    "schema": "GRANDATA",
    "authenticator": "snowflake"  # Î∏åÎùºÏö∞Ï†Ä Ïù∏Ï¶ù Î∞©Ïãù
}

# ÏÑ∏ÏÖò Ïû¨Ïó∞Í≤∞
session = Session.builder.configs(connection_parameters).create()

# 1. Îç∞Ïù¥ÌÑ∞ ÌôïÎ≥¥ & Ïä§ÌÇ§Îßà Ïù¥Ìï¥

In [90]:
# ÌÖåÏù¥Î∏î Î°úÎî© 
card_df = session.table("CARD_SALES_INFO")
float_df = session.table("FLOATING_POPULATION_INFO")
asset_df = session.table("ASSET_INCOME_INFO")
admin_df = session.table("M_SCCO_MST") # GEO Ï†ïÎ≥¥Îäî PandaÎ°ú export ÌõÑ geopandasÎ°ú Ï≤òÎ¶¨ Í∞ÄÎä•


# ÏùºÎã® Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ 
# Snowpark DataFrame ‚Üí Pandas DataFrame
card_df_pd = card_df.to_pandas()
float_df_pd = float_df.to_pandas()
asset_df_pd = asset_df.to_pandas()
admin_df_pd = admin_df.to_pandas()


# Ïä§ÌÇ§Îßà(Ïª¨ÎüºÎ™Ö, Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖ) Ï∂úÎ†•
print("üìå CARD_SALES_INFO schema:")
card_df.print_schema()
print("Total rows:", card_df.count())

print("\nüìå FLOATING_POPULATION_INFO schema:")
float_df.print_schema()
print("Total rows:", float_df.count())

print("\nüìå ASSET_INCOME_INFO schema:")
asset_df.print_schema()
print("Total rows:", asset_df.count())

print("\nüìå M_SCCO_MST schema:")
admin_df.print_schema()
print("Total rows:", admin_df.count())

üìå CARD_SALES_INFO schema:
root
 |-- "PROVINCE_CODE": StringType(2) (nullable = False)
 |-- "CITY_CODE": StringType(5) (nullable = False)
 |-- "DISTRICT_CODE": StringType(8) (nullable = False)
 |-- "STANDARD_YEAR_MONTH": StringType(6) (nullable = False)
 |-- "CARD_TYPE": StringType(1) (nullable = False)
 |-- "WEEKDAY_WEEKEND": StringType(1) (nullable = False)
 |-- "GENDER": StringType(1) (nullable = False)
 |-- "AGE_GROUP": StringType(2) (nullable = False)
 |-- "TIME_SLOT": StringType(3) (nullable = False)
 |-- "LIFESTYLE": StringType(3) (nullable = False)
 |-- "TOTAL_SALES": LongType() (nullable = True)
 |-- "FOOD_SALES": LongType() (nullable = True)
 |-- "COFFEE_SALES": LongType() (nullable = True)
 |-- "ENTERTAINMENT_SALES": LongType() (nullable = True)
 |-- "DEPARTMENT_STORE_SALES": LongType() (nullable = True)
 |-- "LARGE_DISCOUNT_STORE_SALES": LongType() (nullable = True)
 |-- "SMALL_RETAIL_STORE_SALES": LongType() (nullable = True)
 |-- "CLOTHING_ACCESSORIES_SALES": LongType() (nullable = True)
 |-- "SPORTS_CULTURE_LEISURE_SALES": LongType() (nullable = True)
 |-- "ACCOMMODATION_SALES": LongType() (nullable = True)
 |-- "TRAVEL_SALES": LongType() (nullable = True)
 |-- "BEAUTY_SALES": LongType() (nullable = True)
 |-- "HOME_LIFE_SERVICE_SALES": LongType() (nullable = True)
 |-- "EDUCATION_ACADEMY_SALES": LongType() (nullable = True)
 |-- "MEDICAL_SALES": LongType() (nullable = True)
 |-- "ELECTRONICS_FURNITURE_SALES": LongType() (nullable = True)
 |-- "CAR_SALES": LongType() (nullable = True)
 |-- "CAR_SERVICE_SUPPLIES_SALES": LongType() (nullable = True)
 |-- "GAS_STATION_SALES": LongType() (nullable = True)
 |-- "E_COMMERCE_SALES": LongType() (nullable = True)
 |-- "TOTAL_COUNT": DoubleType() (nullable = True)
 |-- "FOOD_COUNT": DoubleType() (nullable = True)
 |-- "COFFEE_COUNT": DoubleType() (nullable = True)
 |-- "ENTERTAINMENT_COUNT": DoubleType() (nullable = True)
 |-- "DEPARTMENT_STORE_COUNT": DoubleType() (nullable = True)
 |-- "LARGE_DISCOUNT_STORE_COUNT": DoubleType() (nullable = True)
 |-- "SMALL_RETAIL_STORE_COUNT": DoubleType() (nullable = True)
 |-- "CLOTHING_ACCESSORIES_COUNT": DoubleType() (nullable = True)
 |-- "SPORTS_CULTURE_LEISURE_COUNT": DoubleType() (nullable = True)
 |-- "ACCOMMODATION_COUNT": DoubleType() (nullable = True)
 |-- "TRAVEL_COUNT": DoubleType() (nullable = True)
 |-- "BEAUTY_COUNT": DoubleType() (nullable = True)
 |-- "HOME_LIFE_SERVICE_COUNT": DoubleType() (nullable = True)
 |-- "EDUCATION_ACADEMY_COUNT": DoubleType() (nullable = True)
 |-- "MEDICAL_COUNT": DoubleType() (nullable = True)
 |-- "ELECTRONICS_FURNITURE_COUNT": DoubleType() (nullable = True)
 |-- "CAR_SALES_COUNT": DoubleType() (nullable = True)
 |-- "CAR_SERVICE_SUPPLIES_COUNT": DoubleType() (nullable = True)
 |-- "GAS_STATION_COUNT": DoubleType() (nullable = True)
 |-- "E_COMMERCE_COUNT": DoubleType() (nullable = True)
Total rows: 3742994

üìå FLOATING_POPULATION_INFO schema:
root
 |-- "PROVINCE_CODE": StringType(2) (nullable = False)
 |-- "CITY_CODE": StringType(5) (nullable = False)
 |-- "DISTRICT_CODE": StringType(8) (nullable = False)
 |-- "STANDARD_YEAR_MONTH": StringType(6) (nullable = False)
 |-- "WEEKDAY_WEEKEND": StringType(1) (nullable = False)
 |-- "GENDER": StringType(1) (nullable = False)
 |-- "AGE_GROUP": StringType(2) (nullable = False)
 |-- "TIME_SLOT": StringType(3) (nullable = False)
 |-- "RESIDENTIAL_POPULATION": DoubleType() (nullable = True)
 |-- "WORKING_POPULATION": DoubleType() (nullable = True)
 |-- "VISITING_POPULATION": DoubleType() (nullable = True)
Total rows: 1546272

üìå ASSET_INCOME_INFO schema:
root
 |-- "PROVINCE_CODE": StringType(2) (nullable = False)
 |-- "CITY_CODE": StringType(5) (nullable = False)
 |-- "DISTRICT_CODE": StringType(8) (nullable = False)
 |-- "STANDARD_YEAR_MONTH": StringType(6) (nullable = False)
 |-- "INCOME_TYPE": StringType(1) (nullable = True)
 |-- "GENDER": StringType(1) (nullable = False)
 |-- "AGE_GROUP": StringType(2) (nullable = False)
 |-- "CUSTOMER_COUNT": LongType() (nullable = True)
 |-- "RATE_MODEL_GROUP_LARGE_COMPANY_EMPLOYEE": DoubleType() (nullable = True)
 |-- "RATE_MODEL_GROUP_GENERAL_EMPLOYEE": DoubleType() (nullable = True)
 |-- "RATE_MODEL_GROUP_PROFESSIONAL_EMPLOYEE": DoubleType() (nullable = True)
 |-- "RATE_MODEL_GROUP_EXECUTIVES": DoubleType() (nullable = True)
 |-- "RATE_MODEL_GROUP_GENERAL_SELF_EMPLOYED": DoubleType() (nullable = True)
 |-- "RATE_MODEL_GROUP_PROFESSIONAL_SELF_EMPLOYED": DoubleType() (nullable = True)
 |-- "RATE_MODEL_GROUP_OTHERS": DoubleType() (nullable = True)
 |-- "PYEONG_UNDER_20_COUNT": LongType() (nullable = True)
 |-- "PYEONG_OVER_20_COUNT": LongType() (nullable = True)
 |-- "PYEONG_OVER_30_COUNT": LongType() (nullable = True)
 |-- "PYEONG_OVER_40_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_PRICE_GAP": DoubleType() (nullable = True)
 |-- "AVERAGE_LEASE_GAP": DoubleType() (nullable = True)
 |-- "AVERAGE_INCOME": LongType() (nullable = True)
 |-- "AVERAGE_INCOME_OVER_70": LongType() (nullable = True)
 |-- "AVERAGE_HOUSEHOLD_INCOME": LongType() (nullable = True)
 |-- "MEDIAN_INCOME": LongType() (nullable = True)
 |-- "RATE_INCOME_UNDER_20M": DoubleType() (nullable = True)
 |-- "RATE_INCOME_20M_TO_30M": DoubleType() (nullable = True)
 |-- "RATE_INCOME_30M_TO_40M": DoubleType() (nullable = True)
 |-- "RATE_INCOME_40M_TO_50M": DoubleType() (nullable = True)
 |-- "RATE_INCOME_50M_TO_60M": DoubleType() (nullable = True)
 |-- "RATE_INCOME_60M_TO_70M": DoubleType() (nullable = True)
 |-- "RATE_INCOME_OVER_70M": DoubleType() (nullable = True)
 |-- "CARD_COUNT": LongType() (nullable = True)
 |-- "CREDIT_CARD_COUNT": LongType() (nullable = True)
 |-- "CHECK_CARD_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_CARD_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_CREDIT_CARD_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_CHECK_CARD_COUNT": LongType() (nullable = True)
 |-- "TOTAL_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_SALES_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_FULL_PAYMENT_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_INSTALLMENT_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_CASH_ADVANCE_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_CREDIT_CARD_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_CHECK_CARD_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_ABROAD_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_SALES_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_FULL_PAYMENT_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_INSTALLMENT_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_CASH_ADVANCE_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_CREDIT_CARD_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_CHECK_CARD_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_ABROAD_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_TOTAL_LIMIT_AMOUNT": LongType() (nullable = True)
 |-- "BALANCE_COUNT": LongType() (nullable = True)
 |-- "BANK_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NON_BANK_BALANCE_COUNT": LongType() (nullable = True)
 |-- "CREDIT_BALANCE_COUNT": LongType() (nullable = True)
 |-- "HOUSING_BALANCE_COUNT": LongType() (nullable = True)
 |-- "MORTGAGE1_BALANCE_COUNT": LongType() (nullable = True)
 |-- "MORTGAGE2_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_BANK_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_NON_BANK_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_CREDIT_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_HOUSING_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_MORTGAGE1_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_MORTGAGE2_BALANCE_COUNT": LongType() (nullable = True)
 |-- "TOTAL_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_BANK_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_NON_BANK_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_CREDIT_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_HOUSING_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_MORTGAGE1_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_MORTGAGE2_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_BANK_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_NON_BANK_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_CREDIT_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_HOUSING_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_MORTGAGE1_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_MORTGAGE2_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_BANK_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_NON_BANK_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_CREDIT_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_HOUSING_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_MORTGAGE1_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_MORTGAGE2_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_BANK_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_NON_BANK_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_CREDIT_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_HOUSING_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_MORTGAGE1_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_MORTGAGE2_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "DELINQUENT0_COUNT": LongType() (nullable = True)
 |-- "DELINQUENT30_COUNT": LongType() (nullable = True)
 |-- "DELINQUENT90_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_DELINQUENT_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_DELINQUENT_DAYS": LongType() (nullable = True)
 |-- "AVERAGE_MAX_DELINQUENT_DAYS": LongType() (nullable = True)
 |-- "AVERAGE_DELINQUENT_AMOUNT": LongType() (nullable = True)
 |-- "MEDIAN_DELINQUENT_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_SCORE": LongType() (nullable = True)
 |-- "RATE_SCORE1": DoubleType() (nullable = True)
 |-- "RATE_SCORE2": DoubleType() (nullable = True)
 |-- "RATE_SCORE3": DoubleType() (nullable = True)
 |-- "AVERAGE_LOAN_POTENTIAL1": LongType() (nullable = True)
 |-- "AVERAGE_LOAN_POTENTIAL2": LongType() (nullable = True)
 |-- "OWN_HOUSING_COUNT": LongType() (nullable = True)
 |-- "MULTIPLE_HOUSING_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_ASSET_AMOUNT": LongType() (nullable = True)
 |-- "RATE_HIGHEND": DoubleType() (nullable = True)
Total rows: 160197

üìå M_SCCO_MST schema:
root
 |-- "PROVINCE_CODE": StringType(2) (nullable = True)
 |-- "CITY_CODE": StringType(5) (nullable = True)
 |-- "DISTRICT_CODE": StringType(8) (nullable = True)
 |-- "PROVINCE_KOR_NAME": StringType(50) (nullable = True)
 |-- "CITY_KOR_NAME": StringType(50) (nullable = True)
 |-- "DISTRICT_KOR_NAME": StringType(50) (nullable = True)
 |-- "PROVINCE_ENG_NAME": StringType(50) (nullable = True)
 |-- "CITY_ENG_NAME": StringType(50) (nullable = True)
 |-- "DISTRICT_ENG_NAME": StringType(50) (nullable = True)
 |-- "DISTRICT_GEOM": GeographyType() (nullable = True)
Total rows: 467

In [92]:
# ÏùºÎ∂Ä Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞
card_sample = card_df.limit(5).to_pandas()
float_sample = float_df.limit(5).to_pandas()
asset_sample = asset_df.limit(5).to_pandas()
admin_sample = admin_df.limit(5).to_pandas()

# Ï∂úÎ†•
print("\nüí≥ CARD_SALES_INFO sample:")
print(card_sample)

print("\nüë• FLOATING_POPULATION_INFO sample:")
print(float_sample)

print("\nüí∞ ASSET_INCOME_INFO sample:")
print(asset_sample)

print("\nüó∫Ô∏è M_SCCO_MST sample:")
print(admin_sample)

üí≥ CARD_SALES_INFO sample:
  PROVINCE_CODE CITY_CODE DISTRICT_CODE STANDARD_YEAR_MONTH CARD_TYPE  \
0            11     11140      11140129              202112         1
1            11     11140      11140129              202112         1
2            11     11140      11140129              202112         1
3            11     11140      11140129              202112         1
4            11     11140      11140129              202112         1

  WEEKDAY_WEEKEND GENDER AGE_GROUP TIME_SLOT LIFESTYLE  ...  TRAVEL_COUNT  \
0               H      M        30       T15       L01  ...           0.0
1               W      F        55       T21       L01  ...           0.0
2               W      M        40       T12       L02  ...           0.0
3               W      M        60       T15       L04  ...           0.0
4               W      F        50       T12       L01  ...           0.0

   BEAUTY_COUNT  HOME_LIFE_SERVICE_COUNT  EDUCATION_ACADEMY_COUNT  \
0          0.00                      0.0                      0.0
1          0.00                      0.0                      0.0
2          0.00                      0.0                      0.0
3          0.00                      0.0                      0.0
4          5.17                      0.0                      0.0

   MEDICAL_COUNT  ELECTRONICS_FURNITURE_COUNT  CAR_SALES_COUNT  \
0            0.0                          0.0              0.0
1            0.0                          0.0              0.0
2            0.0                          0.0              0.0
3            0.0                          0.0              0.0
4            0.0                          0.0              0.0

   CAR_SERVICE_SUPPLIES_COUNT  GAS_STATION_COUNT  E_COMMERCE_COUNT
0                         0.0                0.0               0.0
1                         0.0                0.0               0.0
2                         0.0                0.0               0.0
3                         0.0                0.0               0.0
4                         0.0                0.0               0.0

[5 rows x 50 columns]

üë• FLOATING_POPULATION_INFO sample:
  PROVINCE_CODE CITY_CODE DISTRICT_CODE STANDARD_YEAR_MONTH WEEKDAY_WEEKEND  \
0            11     11140      11140101              202101               W
1            11     11140      11140101              202101               H
2            11     11140      11140101              202101               H
3            11     11140      11140101              202101               H
4            11     11140      11140101              202101               H

  GENDER AGE_GROUP TIME_SLOT  RESIDENTIAL_POPULATION  WORKING_POPULATION  \
0      M        40       T12                    5.27              204.62
1      F        20       T18                    0.30                6.46
2      M        40       T12                    4.56               15.22
3      M        20       T21                    0.48                1.38
4      M        65       T15                    1.38                3.04

   VISITING_POPULATION
0               120.09
1                14.26
2                30.69
3                 4.83
4                 9.30

üí∞ ASSET_INCOME_INFO sample:
  PROVINCE_CODE CITY_CODE DISTRICT_CODE STANDARD_YEAR_MONTH INCOME_TYPE  \
0            11     11560      11560101              202108           0
1            11     11560      11560101              202108           1
2            11     11560      11560101              202108           1
3            11     11560      11560101              202108           1
4            11     11560      11560101              202108           1

  GENDER AGE_GROUP  CUSTOMER_COUNT  RATE_MODEL_GROUP_LARGE_COMPANY_EMPLOYEE  \
0      F        45             501                                     0.91
1      M        40             592                                     5.84
2      M        50             804                                     3.51
3      F        35             631                                     3.07
4      M        20             448                                     0.35

   RATE_MODEL_GROUP_GENERAL_EMPLOYEE  ...  AVERAGE_SCORE  RATE_SCORE1  \
0                              47.00  ...              3        77.26
1                              43.66  ...              3        57.56
2                              35.81  ...              4        47.93
3                              50.84  ...              3        62.86
4                              14.67  ...              5        12.13

   RATE_SCORE2  RATE_SCORE3  AVERAGE_LOAN_POTENTIAL1  AVERAGE_LOAN_POTENTIAL2  \
0        16.70         6.13                   222635                   -30344
1        33.73         6.86                  1648186                   763775
2        40.04        10.31                  2599543                  1599275
3        33.60         2.24                  1229941                   526744
4        84.88         3.06                   571829                  -222711

   OWN_HOUSING_COUNT  MULTIPLE_HOUSING_COUNT  AVERAGE_ASSET_AMOUNT  \
0                 88                      27                377309
1                140                      29                407892
2                185                      50                385991
3                 90                      19                354258
4                  4                       2                379852

   RATE_HIGHEND
0          5.91
1         13.82
2         16.01
3          5.97
4          0.92

[5 rows x 115 columns]

üó∫Ô∏è M_SCCO_MST sample:
  PROVINCE_CODE CITY_CODE DISTRICT_CODE PROVINCE_KOR_NAME CITY_KOR_NAME  \
0            11     11110      11110101             ÏÑúÏö∏ÌäπÎ≥ÑÏãú           Ï¢ÖÎ°úÍµ¨
1            11     11110      11110102             ÏÑúÏö∏ÌäπÎ≥ÑÏãú           Ï¢ÖÎ°úÍµ¨
2            11     11110      11110103             ÏÑúÏö∏ÌäπÎ≥ÑÏãú           Ï¢ÖÎ°úÍµ¨
3            11     11110      11110104             ÏÑúÏö∏ÌäπÎ≥ÑÏãú           Ï¢ÖÎ°úÍµ¨
4            11     11110      11110105             ÏÑúÏö∏ÌäπÎ≥ÑÏãú           Ï¢ÖÎ°úÍµ¨

  DISTRICT_KOR_NAME PROVINCE_ENG_NAME CITY_ENG_NAME DISTRICT_ENG_NAME  \
0               Ï≤≠Ïö¥Îèô             Seoul     Jongno-gu     Cheongun-dong
1               Ïã†ÍµêÎèô             Seoul     Jongno-gu       Singyo-dong
2               Í∂ÅÏ†ïÎèô             Seoul     Jongno-gu    Gungjeong-dong
3               Ìö®ÏûêÎèô             Seoul     Jongno-gu        Hyoja-dong
4               Ï∞ΩÏÑ±Îèô             Seoul     Jongno-gu   Changseong-dong

                                       DISTRICT_GEOM
0  {\n  "coordinates": [\n    [\n      [\n       ...
1  {\n  "coordinates": [\n    [\n      [\n       ...
2  {\n  "coordinates": [\n    [\n      [\n       ...
3  {\n  "coordinates": [\n    [\n      [\n       ...
4  {\n  "coordinates": [\n    [\n      [\n       ...

In [93]:
print(card_df_pd.describe())

        TOTAL_SALES    FOOD_SALES  COFFEE_SALES  ENTERTAINMENT_SALES  \
count  3.742994e+06  3.742994e+06  3.742994e+06         3.742994e+06
mean   1.493614e+08  3.979121e+06  1.041453e+06         8.040715e+04
std    1.905431e+09  5.809149e+07  2.400028e+07         1.817873e+06
min    5.000000e+00  0.000000e+00  0.000000e+00         0.000000e+00
25%    2.489410e+05  0.000000e+00  0.000000e+00         0.000000e+00
50%    1.440312e+06  1.949780e+05  0.000000e+00         0.000000e+00
75%    1.001267e+07  1.211793e+06  9.836500e+04         0.000000e+00
max    6.528298e+11  1.488637e+10  7.385426e+09         5.892177e+08

       DEPARTMENT_STORE_SALES  LARGE_DISCOUNT_STORE_SALES  \
count            3.742994e+06                3.742994e+06
mean             4.105360e+06                1.811221e+06
std              5.553114e+07                2.585855e+07
min              0.000000e+00                0.000000e+00
25%              0.000000e+00                0.000000e+00
50%              0.000000e+00                0.000000e+00
75%              0.000000e+00                0.000000e+00
max              6.291718e+09                7.525236e+09

       SMALL_RETAIL_STORE_SALES  CLOTHING_ACCESSORIES_SALES  \
count              3.742994e+06                3.742994e+06
mean               4.634996e+06                4.742069e+05
std                6.086018e+07                3.717775e+06
min                0.000000e+00                0.000000e+00
25%                6.083000e+03                0.000000e+00
50%                1.115210e+05                0.000000e+00
75%                6.432600e+05                0.000000e+00
max                8.034506e+09                4.131306e+08

       SPORTS_CULTURE_LEISURE_SALES  ACCOMMODATION_SALES  ...  TRAVEL_COUNT  \
count                  3.742994e+06         3.742994e+06  ...  3.742994e+06
mean                   8.768077e+05         5.125887e+05  ...  1.061010e+00
std                    7.033154e+06         8.954426e+06  ...  6.806188e+01
min                    0.000000e+00         0.000000e+00  ...  0.000000e+00
25%                    0.000000e+00         0.000000e+00  ...  0.000000e+00
50%                    0.000000e+00         0.000000e+00  ...  0.000000e+00
75%                    2.144600e+04         0.000000e+00  ...  0.000000e+00
max                    1.314419e+09         2.310546e+09  ...  2.767514e+04

       BEAUTY_COUNT  HOME_LIFE_SERVICE_COUNT  EDUCATION_ACADEMY_COUNT  \
count  3.742994e+06             3.742994e+06             3.742994e+06
mean   4.050128e+00             3.576538e+02             1.150039e+01
std    2.237072e+01             8.001624e+03             6.813622e+02
min    0.000000e+00             0.000000e+00             0.000000e+00
25%    0.000000e+00             0.000000e+00             0.000000e+00
50%    0.000000e+00             0.000000e+00             0.000000e+00
75%    0.000000e+00             0.000000e+00             0.000000e+00
max    2.755910e+03             8.835188e+05             1.654348e+05

       MEDICAL_COUNT  ELECTRONICS_FURNITURE_COUNT  CAR_SALES_COUNT  \
count   3.742994e+06                 3.742994e+06     3.742994e+06
mean    3.276639e+01                 2.175786e+01     7.561143e-01
std     2.264539e+02                 9.256585e+02     2.818859e+01
min     0.000000e+00                 0.000000e+00     0.000000e+00
25%     0.000000e+00                 0.000000e+00     0.000000e+00
50%     0.000000e+00                 0.000000e+00     0.000000e+00
75%     5.250000e+00                 0.000000e+00     0.000000e+00
max     1.365284e+04                 1.372818e+05     6.215440e+03

       CAR_SERVICE_SUPPLIES_COUNT  GAS_STATION_COUNT  E_COMMERCE_COUNT
count                3.742994e+06       3.742994e+06      3.742994e+06
mean                 1.505908e+01       9.890865e+00      3.720556e+02
std                  1.168696e+02       7.222776e+01      4.180024e+03
min                  0.000000e+00       0.000000e+00      0.000000e+00
25%                  0.000000e+00       0.000000e+00      0.000000e+00
50%                  0.000000e+00       0.000000e+00      0.000000e+00
75%                  0.000000e+00       0.000000e+00      0.000000e+00
max                  1.101687e+04       6.850030e+03      3.006110e+05

[8 rows x 40 columns]

# 2. ÌÉÑÏÜå Í≥ÑÏàò (CF) Ï¥àÍ∏∞ ÌÖåÏù¥Î∏î ÎßåÎì§Í∏∞ 
## 2-1. ÏÜåÎπÑÌÉÑÏÜå ÏßÄÌëú CSV Î™®ÏúºÍ∏∞ + ÌïúÌôîÎ°ú Î≥ÄÍ≤Ω

In [120]:

import pandas as pd
from pathlib import Path
from forex_python.converter import CurrencyRates

In [148]:
RAW = Path("data/SupplyChainGHGEmissionFactors_v1.3.0_NAICS_CO2e_USD2022.csv")
OUT = Path("data/carbon_factor_supplychain_krw.csv")

# 1. csv ÏùΩÍ∏∞ 
df = pd.read_csv(RAW)

# 2 USD Îã®ÏúÑ & Ï†ÑÏ≤¥ GHG Ïó¥Îßå ÏÑ†ÌÉù
mask = (
    (df["Unit"].str.contains("USD", na=False)) &
    (df["GHG"].str.contains("All", na=False))
)
df = df.loc[mask, ["2017 NAICS Title", "Supply Chain Emission Factors with Margins"]]
df = df.rename(columns={
        "2017 NAICS Title": "Category",
        "Supply Chain Emission Factors with Margins": "kgCO2e_per_USD"
     })

# 3. ÌôòÏú® ‚Üí 1,000Ïõê Í∏∞Ï§Ä (ÏÉÅÏàò ÏûÖÎ†•)
USD_KRW = 1400        # <‚îÄ Ïò§ÎäòÏûê ÌôòÏú® Ïà´ÏûêÎßå Î∞îÍøî Ï£ºÏÑ∏Ïöî
df["kgCO2e_per_1000KRW"] = df["kgCO2e_per_USD"] / (USD_KRW / 1000)

# 4. Ï†ÄÏû•
OUT.parent.mkdir(parents=True, exist_ok=True)
df[["Category", "kgCO2e_per_1000KRW"]].to_csv(OUT, index=False)
print("‚úÖ CSV Ï†ÄÏû• ÏôÑÎ£å ‚Üí", OUT)

‚úÖ CSV Ï†ÄÏû• ÏôÑÎ£å ‚Üí data\carbon_factor_supplychain_krw.csv

In [131]:
from pathlib import Path

RAW = Path(r"C:\Users\SSAFY\Desktop\HACKATHON_SnowflakeXStreamlit\data\SupplyChainGHGEmissionFactors_v1.3.0_NAICS_CO2e_USD2022.csv")
print("ÌååÏùº Ï°¥Ïû¨?", RAW.exists())   # TrueÏó¨Ïïº read_csv Í∞ÄÎä•
         # Desktop Ìè¥ÎçîÍ∞Ä Î≥¥Ïù¥ÎÇò?

ÌååÏùº Ï°¥Ïû¨? True

## 2-2. Ïπ¥ÎìúÏÇ¨ lifestyle ÏΩîÎìú <-> ÌÉÑÏÜå Ïπ¥ÌÖåÍ≥†Î¶¨ Îß§ÌïëÌëú ÏûëÏÑ±

In [183]:
# ÌååÏùº Í≤ΩÎ°ú 
CSV_FACTOR = "data/carbon_factor_supplychain_krw.csv"

# ‚ñ∏ Snowflake Ïó∞Í≤∞ (secrets.toml Ïì∞Î©¥ ÏÉùÎûµ)
SNOW_CFG = {
    "account": "mapbobj-vp47779",
    "user": "soojin",
    "password" : "Kimbusan51480501@",
    "role": "ACCOUNTADMIN",
    'warehouse': "HACKATHON",
    'database' : "RAW_DATA",
    'schema'   : "GRANDATA"
}

# 1. ÏÇ¨Ïö©Ï≤ò Î™©Î°ù ÏûêÎèô Ï∂îÏ∂ú
usage_cols = [c for c in card_df.columns if c.endswith("_SALES")]
USAGES = [u.replace("_SALES", "") for u in usage_cols]
print(USAGES)   # ['FOOD','COFFEE', ... , 'E_COMMERCE']

['TOTAL', 'FOOD', 'COFFEE', 'ENTERTAINMENT', 'DEPARTMENT_STORE', 'LARGE_DISCOUNT_STORE', 'SMALL_RETAIL_STORE', 'CLOTHING_ACCESSORIES', 'SPORTS_CULTURE_LEISURE', 'ACCOMMODATION', 'TRAVEL', 'BEAUTY', 'HOME_LIFE_SERVICE', 'EDUCATION_ACADEMY', 'MEDICAL', 'ELECTRONICS_FURNITURE', 'CAR', 'CAR_SERVICE_SUPPLIES', 'GAS_STATION', 'E_COMMERCE']

In [185]:
# 2. ÌÉÑÏÜåÍ≥ÑÏàò csv -> ÏÇ¨Ïö©Ï≤òÎ≥Ñ ÌèâÍ∑†Í≥ÑÏàò ÏûêÎèô Í≥ÑÏÇ∞ 

import pandas as pd, re

cf = pd.read_csv(CSV_FACTOR)

# Í∞ÑÎã® ÌÇ§ÏõåÎìú ÏÇ¨Ï†Ñ (ÌïÑÏöî Ïãú ÌôïÏû•)
kw_dict = {
    "FOOD":       ["food", "restaurant", "catering"],
    "COFFEE":     ["coffee", "tea", "cafe"],
    "ENTERTAINMENT":["entertainment","cinema","theater","music"],
    "DEPARTMENT_STORE":["department store"],
    "LARGE_DISCOUNT_STORE":["hypermarket","discount", "warehouse club"],
    "SMALL_RETAIL_STORE":["convenience", "small retail"],
    "CLOTHING_ACCESSORIES":["clothing","apparel","footwear","jewelry"],
    "SPORTS_CULTURE_LEISURE":["sport","leisure","culture"],
    "ACCOMMODATION":["hotel","accommodation","lodging"],
    "TRAVEL":["travel","airline","tour","rail"],
    "BEAUTY":["beauty","cosmetics","hair","spa"],
    "HOME_LIFE_SERVICE":["home service","cleaning","repair"],
    "EDUCATION_ACADEMY":["education","academy","training"],
    "MEDICAL":["medical","hospital","clinic","pharmacy"],
    "ELECTRONICS_FURNITURE":["electronics","computer","furniture","appliance"],
    "CAR":["car sales","vehicle sales"],
    "CAR_SERVICE_SUPPLIES":["car service","auto parts","auto repair"],
    "GAS_STATION":["gas station","fuel","petrol"],
    "E_COMMERCE":["e-commerce","online retail","internet retail"],
}

rows=[]
for usage in USAGES:
    patt = re.compile("|".join(kw_dict.get(usage, [usage])), re.I)
    sub  = cf[cf["Category"].str.contains(patt, na=False)]
    if sub.empty:
        print("‚ö†Ô∏è Îß§Ìïë ÏïàÎêú ÏÇ¨Ïö©Ï≤ò:", usage)
        factor = cf["kgCO2e_per_1000KRW"].mean()
    else:
        factor = sub["kgCO2e_per_1000KRW"].mean()      # ‚óÜ Í∞ÄÏ§ëÌèâÍ∑† ÎÑ£ÏùÑ Í≥≥
    rows.append({"USAGE": usage, "KGCO2E_PER_1000KRW": round(factor,4)})

usage_factor = pd.DataFrame(rows)
usage_factor.to_csv("usage_factor_table.csv", index=False)
usage_factor

‚ö†Ô∏è Îß§Ìïë ÏïàÎêú ÏÇ¨Ïö©Ï≤ò: CAR
‚ö†Ô∏è Îß§Ìïë ÏïàÎêú ÏÇ¨Ïö©Ï≤ò: E_COMMERCE

                     USAGE  KGCO2E_PER_1000KRW
0                    TOTAL              0.0600
1                     FOOD              0.1907
2                   COFFEE              0.2018
3            ENTERTAINMENT              0.0626
4         DEPARTMENT_STORE              0.1171
5     LARGE_DISCOUNT_STORE              0.1171
6       SMALL_RETAIL_STORE              0.1321
7     CLOTHING_ACCESSORIES              0.1058
8   SPORTS_CULTURE_LEISURE              0.3711
9            ACCOMMODATION              0.1087
10                  TRAVEL              0.1715
11                  BEAUTY              0.1236
12       HOME_LIFE_SERVICE              0.0824
13       EDUCATION_ACADEMY              0.0771
14                 MEDICAL              0.0753
15   ELECTRONICS_FURNITURE              0.0923
16                     CAR              0.2014
17    CAR_SERVICE_SUPPLIES              0.0529
18             GAS_STATION              0.2973
19              E_COMMERCE              0.2014

In [193]:
# 3. snowflake: ÌÖåÏù¥Î∏î/Î∑∞ ÏÉùÏÑ± 
from snowflake.snowpark import Session

session = Session.builder.configs(SNOW_CFG).create()

# üîë Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ÏôÄ Ïä§ÌÇ§Îßà Î™ÖÏãúÏ†ÅÏúºÎ°ú ÏÑ§Ï†ï
session.sql("USE DATABASE MY_DB").collect()
session.sql("USE SCHEMA MY_SCHEMA").collect()


# 3-1 ÌÖåÏù¥Î∏î ÏóÖÎ°úÎìú
session.sql("""
    CREATE OR REPLACE TABLE USAGE_FACTOR_TBL (
        USAGE STRING,
        KGCO2E_PER_1000KRW FLOAT
    )
""").collect()


session.write_pandas(usage_factor, "USAGE_FACTOR_TBL", overwrite=True)


session.table("USAGE_FACTOR_TBL").limit(5).to_pandas()

              USAGE  KGCO2E_PER_1000KRW
0             TOTAL              0.0600
1              FOOD              0.1907
2            COFFEE              0.2018
3     ENTERTAINMENT              0.0626
4  DEPARTMENT_STORE              0.1171

In [211]:
all_columns = [
    'PROVINCE_CODE', 'CITY_CODE', 'DISTRICT_CODE', 'STANDARD_YEAR_MONTH',
    'CARD_TYPE', 'WEEKDAY_WEEKEND', 'GENDER', 'AGE_GROUP', 'TIME_SLOT', 'LIFESTYLE',
    'TOTAL_SALES', 'FOOD_SALES', 'COFFEE_SALES', 'ENTERTAINMENT_SALES',
    'DEPARTMENT_STORE_SALES', 'LARGE_DISCOUNT_STORE_SALES', 'SMALL_RETAIL_STORE_SALES',
    'CLOTHING_ACCESSORIES_SALES', 'SPORTS_CULTURE_LEISURE_SALES', 'ACCOMMODATION_SALES',
    'TRAVEL_SALES', 'BEAUTY_SALES', 'HOME_LIFE_SERVICE_SALES', 'EDUCATION_ACADEMY_SALES',
    'MEDICAL_SALES', 'ELECTRONICS_FURNITURE_SALES', 'CAR_SALES', 'CAR_SERVICE_SUPPLIES_SALES',
    'GAS_STATION_SALES', 'E_COMMERCE_SALES', 'TOTAL_COUNT', 'FOOD_COUNT', 'COFFEE_COUNT',
    'ENTERTAINMENT_COUNT', 'DEPARTMENT_STORE_COUNT', 'LARGE_DISCOUNT_STORE_COUNT',
    'SMALL_RETAIL_STORE_COUNT', 'CLOTHING_ACCESSORIES_COUNT', 'SPORTS_CULTURE_LEISURE_COUNT',
    'ACCOMMODATION_COUNT', 'TRAVEL_COUNT', 'BEAUTY_COUNT', 'HOME_LIFE_SERVICE_COUNT',
    'EDUCATION_ACADEMY_COUNT', 'MEDICAL_COUNT', 'ELECTRONICS_FURNITURE_COUNT',
    'CAR_SALES_COUNT', 'CAR_SERVICE_SUPPLIES_COUNT', 'GAS_STATION_COUNT', 'E_COMMERCE_COUNT'
]

# USAGES Î¶¨Ïä§Ìä∏: *_SALES Ï§ë TOTAL_SALES Ï†úÏô∏
USAGES = [col.replace('_SALES', '') for col in all_columns if col.endswith('_SALES') and col != 'TOTAL_SALES']

In [225]:
unp_cols = ", ".join([f"{usage}_SALES" for usage in USAGES])

create_view = f"""
CREATE OR REPLACE VIEW CARD_CO2E_VW AS
WITH unp AS (
  SELECT 
    PROVINCE_CODE,
    CITY_CODE,
    DISTRICT_CODE,
    STANDARD_YEAR_MONTH,
    CARD_TYPE,
    WEEKDAY_WEEKEND,
    GENDER,
    AGE_GROUP,
    TIME_SLOT,
    LIFESTYLE,
    REPLACE(usage, '_SALES', '') AS usage_clean,
    value AS sales_amt
  FROM RAW_DATA.GRANDATA.CARD_SALES_INFO
  UNPIVOT(value FOR usage IN ({unp_cols}))
)
SELECT 
    unp.*,
    f.KGCO2E_PER_1000KRW,
    (sales_amt / 1000) * f.KGCO2E_PER_1000KRW AS CO2E_KG
FROM unp
LEFT JOIN USAGE_FACTOR_TBL f
  ON upper(unp.usage_clean) = upper(f.USAGE);
"""

session.sql(create_view).collect()
print("‚úÖ CARD_CO2E_VW Î∑∞ Ïû¨ÏÉùÏÑ± ÏôÑÎ£å")

‚úÖ CARD_CO2E_VW Î∑∞ Ïû¨ÏÉùÏÑ± ÏôÑÎ£å

In [227]:
session.table("CARD_CO2E_VW").limit(5).to_pandas()

,PROVINCE_CODE,CITY_CODE,DISTRICT_CODE,STANDARD_YEAR_MONTH,CARD_TYPE,WEEKDAY_WEEKEND,GENDER,AGE_GROUP,TIME_SLOT,LIFESTYLE,USAGE_CLEAN,SALES_AMT,KGCO2E_PER_1000KRW,CO2E_KG
0,11,11140,11140129,202112,1,H,M,30,T15,L01,FOOD,3027922,0.1907,577.424725
1,11,11140,11140129,202112,1,H,M,30,T15,L01,COFFEE,862684,0.2018,174.089631
2,11,11140,11140129,202112,1,H,M,30,T15,L01,ENTERTAINMENT,0,0.0626,0.000000
3,11,11140,11140129,202112,1,H,M,30,T15,L01,DEPARTMENT_STORE,0,0.1171,0.000000
4,11,11140,11140129,202112,1,H,M,30,T15,L01,LARGE_DISCOUNT_STORE,0,0.1171,0.000000

In [229]:
session.table("USAGE_FACTOR_TBL").to_pandas()

                     USAGE  KGCO2E_PER_1000KRW
0                    TOTAL              0.0600
1                     FOOD              0.1907
2                   COFFEE              0.2018
3            ENTERTAINMENT              0.0626
4         DEPARTMENT_STORE              0.1171
5     LARGE_DISCOUNT_STORE              0.1171
6       SMALL_RETAIL_STORE              0.1321
7     CLOTHING_ACCESSORIES              0.1058
8   SPORTS_CULTURE_LEISURE              0.3711
9            ACCOMMODATION              0.1087
10                  TRAVEL              0.1715
11                  BEAUTY              0.1236
12       HOME_LIFE_SERVICE              0.0824
13       EDUCATION_ACADEMY              0.0771
14                 MEDICAL              0.0753
15   ELECTRONICS_FURNITURE              0.0923
16                     CAR              0.2014
17    CAR_SERVICE_SUPPLIES              0.0529
18             GAS_STATION              0.2973
19              E_COMMERCE              0.2014

In [236]:
session.table("CARD_CO2E_VW").limit(10).to_pandas()

,PROVINCE_CODE,CITY_CODE,DISTRICT_CODE,STANDARD_YEAR_MONTH,CARD_TYPE,WEEKDAY_WEEKEND,GENDER,AGE_GROUP,TIME_SLOT,LIFESTYLE,USAGE_CLEAN,SALES_AMT,KGCO2E_PER_1000KRW,CO2E_KG
0,11,11140,11140112,202206,1,H,M,35,T12,L04,FOOD,596328,0.1907,113.719750
1,11,11140,11140112,202206,1,H,M,35,T12,L04,COFFEE,27795,0.2018,5.609031
2,11,11140,11140112,202206,1,H,M,35,T12,L04,ENTERTAINMENT,0,0.0626,0.000000
3,11,11140,11140112,202206,1,H,M,35,T12,L04,DEPARTMENT_STORE,0,0.1171,0.000000
4,11,11140,11140112,202206,1,H,M,35,T12,L04,LARGE_DISCOUNT_STORE,0,0.1171,0.000000
5,11,11140,11140112,202206,1,H,M,35,T12,L04,SMALL_RETAIL_STORE,10107,0.1321,1.335135
6,11,11140,11140112,202206,1,H,M,35,T12,L04,CLOTHING_ACCESSORIES,126341,0.1058,13.366878
7,11,11140,11140112,202206,1,H,M,35,T12,L04,SPORTS_CULTURE_LEISURE,0,0.3711,0.000000
8,11,11140,11140112,202206,1,H,M,35,T12,L04,ACCOMMODATION,0,0.1087,0.000000
9,11,11140,11140112,202206,1,H,M,35,T12,L04,TRAVEL,0,0.1715,0.000000

In [238]:
# Ïõî, ÏÇ¨Ïö©Ï≤òÎ≥Ñ CO2 ÏßëÍ≥Ñ ÌôïÏù∏
# ÏõîÎ≥Ñ¬∑ÏÇ¨Ïö©Ï≤òÎ≥Ñ CO‚ÇÇe, Îß§Ï∂úÎèÑ Í∞ôÏù¥ Î≥¥Í≥† Ïã∂Îã§Î©¥
session.sql("""
SELECT  STANDARD_YEAR_MONTH,
        usage_clean            AS USAGE,
        SUM(sales_amt)         AS TOTAL_SALES,
        SUM(CO2E_KG)           AS TOTAL_CO2E_KG
FROM    CARD_CO2E_VW
GROUP BY 1,2
ORDER BY 1 DESC, 2
LIMIT 20
""").show()

--------------------------------------------------------------------------------------
|"STANDARD_YEAR_MONTH"  |"USAGE"                |"TOTAL_SALES"  |"TOTAL_CO2E_KG"     |
--------------------------------------------------------------------------------------
|202312                 |ACCOMMODATION          |82114660653    |8925863.612981101   |
|202312                 |BEAUTY                 |34279869869    |4236991.915808401   |
|202312                 |CAR                    |720534236466   |145115595.2242524   |
|202312                 |CAR_SERVICE_SUPPLIES   |33522550110    |1773342.9008189999  |
|202312                 |CLOTHING_ACCESSORIES   |52080090221    |5510073.5453818     |
|202312                 |COFFEE                 |127529325595   |25735417.905071     |
|202312                 |DEPARTMENT_STORE       |552262545597   |64669944.08940871   |
|202312                 |EDUCATION_ACADEMY      |152106449347   |11727407.244653698  |
|202312                 |ELECTRONICS_FURNITURE  |81489343127    |7521466.3706221     |
|202312                 |ENTERTAINMENT          |15126648783    |946928.2138158      |
--------------------------------------------------------------------------------------

In [242]:
import streamlit as st, plotly.express as px
from snowflake.snowpark import Session
import pandas as pd

st.set_page_config(page_title="ÏÇ¨Ïö©Ï≤òÎ≥Ñ ÌÉÑÏÜå Î∞∞Ï∂ú", layout="wide")

# 1) ÏÑ∏ÏÖò
sess = Session.builder.configs(st.secrets).create()

# 2) Ïõî ÏÑ†ÌÉù ‚ñ∏ DISTINCT Í∞ÄÏ†∏Ïò§Í∏∞
months = sess.sql("""
    SELECT DISTINCT STANDARD_YEAR_MONTH
    FROM CARD_CO2E_VW
    ORDER BY 1 DESC
""").to_pandas()["STANDARD_YEAR_MONTH"]

sel_month = st.sidebar.selectbox("Ï°∞Ìöå Ïõî", months)

# 3) Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞
df = sess.sql(f"""
    SELECT  usage_clean AS usage,
            SUM(sales_amt)  AS total_sales,
            SUM(CO2E_KG)    AS co2e_kg
    FROM CARD_CO2E_VW
    WHERE STANDARD_YEAR_MONTH = '{sel_month}'
    GROUP BY usage_clean
    ORDER BY co2e_kg DESC
""").to_pandas()

# 4) ÏßÄÌëú + Í∑∏ÎûòÌîÑ
st.metric("Ï¥ù CO‚ÇÇ Î∞∞Ï∂ú(kg)", f"{df['co2e_kg'].sum():,.0f}")

fig = px.bar(df, x="usage", y="co2e_kg",
             title=f"{sel_month} ÏÇ¨Ïö©Ï≤òÎ≥Ñ CO‚ÇÇ Î∞∞Ï∂ú",
             labels={"co2e_kg":"kg CO‚ÇÇe", "usage":"ÏÇ¨Ïö©Ï≤ò"})
st.plotly_chart(fig, use_container_width=True)

# 5) Raw table
with st.expander("ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞ Î≥¥Í∏∞"):
    st.dataframe(df)

FileNotFoundError: No secrets files found. Valid paths for a secrets.toml file are: C:\Users\SSAFY\.streamlit\secrets.toml, C:\Users\SSAFY\Desktop\HACKATHON_SnowflakeXStreamlit\.streamlit\secrets.toml

In [1]:
# ! pip install streamlit snowflake-connector-python snowflake-snowpark-python plotly pandas

Requirement already satisfied: streamlit in c:\users\ssafy\anaconda3\lib\site-packages (1.37.1)
Requirement already satisfied: snowflake-connector-python in c:\users\ssafy\anaconda3\lib\site-packages (3.14.1)
Requirement already satisfied: snowflake-snowpark-python in c:\users\ssafy\anaconda3\lib\site-packages (1.30.0)
Requirement already satisfied: plotly in c:\users\ssafy\anaconda3\lib\site-packages (5.24.1)
Requirement already satisfied: pandas in c:\users\ssafy\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: altair<6,>=4.0 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (5.0.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (24.1)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (4.25.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (16.1.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (13.7.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (4.11.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (0.8.0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: watchdog<5,>=2.1.5 in c:\users\ssafy\anaconda3\lib\site-packages (from streamlit) (4.0.1)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (1.5.1)
Requirement already satisfied: boto3>=1.0 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (1.38.0)
Requirement already satisfied: botocore>=1.0 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (1.38.0)
Requirement already satisfied: cffi<2.0.0,>=1.9 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (1.17.1)
Requirement already satisfied: cryptography>=3.1.0 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (43.0.0)
Requirement already satisfied: pyOpenSSL<26.0.0,>=22.0.0 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (24.2.1)
Requirement already satisfied: pyjwt<3.0.0 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (2.8.0)
Requirement already satisfied: pytz in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (2024.1)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (2025.1.31)
Requirement already satisfied: filelock<4,>=3.5 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (3.13.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (3.10.0)
Requirement already satisfied: tomlkit in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-connector-python) (0.11.1)
Requirement already satisfied: setuptools>=40.6.0 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-snowpark-python) (75.1.0)
Requirement already satisfied: wheel in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-snowpark-python) (0.44.0)
Requirement already satisfied: pyyaml in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-snowpark-python) (6.0.1)
Requirement already satisfied: cloudpickle!=2.1.0,!=2.2.0,<=3.0.0,>=1.6.0 in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-snowpark-python) (3.0.0)
Requirement already satisfied: python-dateutil in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-snowpark-python) (2.9.0.post0)
Requirement already satisfied: tzlocal in c:\users\ssafy\anaconda3\lib\site-packages (from snowflake-snowpark-python) (5.3.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ssafy\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: jinja2 in c:\users\ssafy\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\ssafy\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: toolz in c:\users\ssafy\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\ssafy\anaconda3\lib\site-packages (from boto3>=1.0->snowflake-connector-python) (1.0.1)
Requirement already satisfied: s3transfer<0.13.0,>=0.12.0 in c:\users\ssafy\anaconda3\lib\site-packages (from boto3>=1.0->snowflake-connector-python) (0.12.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\ssafy\anaconda3\lib\site-packages (from botocore>=1.0->snowflake-connector-python) (2.2.3)
Requirement already satisfied: pycparser in c:\users\ssafy\anaconda3\lib\site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.21)
Requirement already satisfied: colorama in c:\users\ssafy\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\ssafy\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.7)
Requirement already satisfied: six>=1.5 in c:\users\ssafy\anaconda3\lib\site-packages (from python-dateutil->snowflake-snowpark-python) (1.16.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\ssafy\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\ssafy\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\ssafy\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ssafy\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\ssafy\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\ssafy\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\ssafy\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\ssafy\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.10.6)
Requirement already satisfied: mdurl~=0.1 in c:\users\ssafy\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)