# 0. Project Set Up

In [334]:
# Import Python packages
import pandas as pd
import plotly.express as px
import plotly.io as pio
import matplotlib.pyplot as plt
import json
import sys
import cachetools
from datetime import timedelta
import math

# Import Snowflake modules
from snowflake.snowpark import Session
import snowflake.snowpark.functions as F
import snowflake.snowpark.types as T
from snowflake.snowpark import Window
from snowflake.snowpark.functions import col, to_date

# For display purposes, suppress FutureWarnings and UserWarnings from printing below the cells
import warnings
for warning_category in [FutureWarning, UserWarning]:
    warnings.filterwarnings('ignore', category=warning_category)

### Ïä§ÎÖ∏Ïö∞ ÌîåÎ†àÏù¥ÌÅ¨ Ïó∞Í≤∞

In [337]:
from snowflake.snowpark.context import get_active_session 
from getpass import getpass

connection_parameters = {
    'account' : "mapbobj-vp47779",
    'user' : 'soojin',
    "password": 'Kimbusan51480501@',

    
    'warehouse' : 'HACKATHON',
    'database' : 'RAW_DATA',
    'schema': 'GRANDATA'
}

# ÏÑ∏ÏÖò ÏàòÎèô ÏÉùÏÑ±
session = Session.builder.configs(connection_parameters).create()

# ÏøºÎ¶¨ ÌÉúÍ∑∏ ÏÑ§Ï†ï (Ï∂îÏ†ÅÏö©)
session.query_tag = {
    'origin': 'digital_nomad_project', # ÌîÑÎ°úÏ†ùÌä∏ Î™Ö
    'name' : 'remote_work_trend_analysis', # ÏûëÏóÖ Î™©Ï†Å
    'version' : {'major' : 1, 'minor' : 0},
    'attributes' : {
        'source' : 'jupyter',
        'analyst' : 'soojin kim '
    }
}

# print the current role, warehouse, and db/schema
print(f"role: {session.get_current_role()} | WH: {session.get_current_warehouse()} | DB.SCHEMA: {session.get_fully_qualified_current_schema()}")

role: "ACCOUNTADMIN" | WH: "HACKATHON" | DB.SCHEMA: "RAW_DATA"."GRANDATA"

In [339]:
# Ïû¨Ïó∞Í≤∞
from snowflake.snowpark import Session

connection_parameters = {
    "account": "mapbobj-vp47779",
    "user": "soojin",
    "password" : "Kimbusan51480501@",
    "warehouse": "HACKATHON",
    "database": "RAW_DATA",
    "schema": "GRANDATA",
    "authenticator": "snowflake"  # Î∏åÎùºÏö∞Ï†Ä Ïù∏Ï¶ù Î∞©Ïãù
}

# ÏÑ∏ÏÖò Ïû¨Ïó∞Í≤∞
session = Session.builder.configs(connection_parameters).create()

# 1. Îç∞Ïù¥ÌÑ∞ ÌôïÎ≥¥ & Ïä§ÌÇ§Îßà Ïù¥Ìï¥

In [342]:
# ÌÖåÏù¥Î∏î Î°úÎî© 
card_df = session.table("CARD_SALES_INFO")
float_df = session.table("FLOATING_POPULATION_INFO")
asset_df = session.table("ASSET_INCOME_INFO")
admin_df = session.table("M_SCCO_MST") # GEO Ï†ïÎ≥¥Îäî PandaÎ°ú export ÌõÑ geopandasÎ°ú Ï≤òÎ¶¨ Í∞ÄÎä•


# ÏùºÎã® Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ 
# Snowpark DataFrame ‚Üí Pandas DataFrame
card_df_pd = card_df.to_pandas()
float_df_pd = float_df.to_pandas()
asset_df_pd = asset_df.to_pandas()
admin_df_pd = admin_df.to_pandas()


# Ïä§ÌÇ§Îßà(Ïª¨ÎüºÎ™Ö, Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖ) Ï∂úÎ†•
print("üìå CARD_SALES_INFO schema:")
card_df.print_schema()
print("Total rows:", card_df.count())

print("\nüìå FLOATING_POPULATION_INFO schema:")
float_df.print_schema()
print("Total rows:", float_df.count())

print("\nüìå ASSET_INCOME_INFO schema:")
asset_df.print_schema()
print("Total rows:", asset_df.count())

print("\nüìå M_SCCO_MST schema:")
admin_df.print_schema()
print("Total rows:", admin_df.count())

üìå CARD_SALES_INFO schema:
root
 |-- "PROVINCE_CODE": StringType(2) (nullable = False)
 |-- "CITY_CODE": StringType(5) (nullable = False)
 |-- "DISTRICT_CODE": StringType(8) (nullable = False)
 |-- "STANDARD_YEAR_MONTH": StringType(6) (nullable = False)
 |-- "CARD_TYPE": StringType(1) (nullable = False)
 |-- "WEEKDAY_WEEKEND": StringType(1) (nullable = False)
 |-- "GENDER": StringType(1) (nullable = False)
 |-- "AGE_GROUP": StringType(2) (nullable = False)
 |-- "TIME_SLOT": StringType(3) (nullable = False)
 |-- "LIFESTYLE": StringType(3) (nullable = False)
 |-- "TOTAL_SALES": LongType() (nullable = True)
 |-- "FOOD_SALES": LongType() (nullable = True)
 |-- "COFFEE_SALES": LongType() (nullable = True)
 |-- "ENTERTAINMENT_SALES": LongType() (nullable = True)
 |-- "DEPARTMENT_STORE_SALES": LongType() (nullable = True)
 |-- "LARGE_DISCOUNT_STORE_SALES": LongType() (nullable = True)
 |-- "SMALL_RETAIL_STORE_SALES": LongType() (nullable = True)
 |-- "CLOTHING_ACCESSORIES_SALES": LongType() (nullable = True)
 |-- "SPORTS_CULTURE_LEISURE_SALES": LongType() (nullable = True)
 |-- "ACCOMMODATION_SALES": LongType() (nullable = True)
 |-- "TRAVEL_SALES": LongType() (nullable = True)
 |-- "BEAUTY_SALES": LongType() (nullable = True)
 |-- "HOME_LIFE_SERVICE_SALES": LongType() (nullable = True)
 |-- "EDUCATION_ACADEMY_SALES": LongType() (nullable = True)
 |-- "MEDICAL_SALES": LongType() (nullable = True)
 |-- "ELECTRONICS_FURNITURE_SALES": LongType() (nullable = True)
 |-- "CAR_SALES": LongType() (nullable = True)
 |-- "CAR_SERVICE_SUPPLIES_SALES": LongType() (nullable = True)
 |-- "GAS_STATION_SALES": LongType() (nullable = True)
 |-- "E_COMMERCE_SALES": LongType() (nullable = True)
 |-- "TOTAL_COUNT": DoubleType() (nullable = True)
 |-- "FOOD_COUNT": DoubleType() (nullable = True)
 |-- "COFFEE_COUNT": DoubleType() (nullable = True)
 |-- "ENTERTAINMENT_COUNT": DoubleType() (nullable = True)
 |-- "DEPARTMENT_STORE_COUNT": DoubleType() (nullable = True)
 |-- "LARGE_DISCOUNT_STORE_COUNT": DoubleType() (nullable = True)
 |-- "SMALL_RETAIL_STORE_COUNT": DoubleType() (nullable = True)
 |-- "CLOTHING_ACCESSORIES_COUNT": DoubleType() (nullable = True)
 |-- "SPORTS_CULTURE_LEISURE_COUNT": DoubleType() (nullable = True)
 |-- "ACCOMMODATION_COUNT": DoubleType() (nullable = True)
 |-- "TRAVEL_COUNT": DoubleType() (nullable = True)
 |-- "BEAUTY_COUNT": DoubleType() (nullable = True)
 |-- "HOME_LIFE_SERVICE_COUNT": DoubleType() (nullable = True)
 |-- "EDUCATION_ACADEMY_COUNT": DoubleType() (nullable = True)
 |-- "MEDICAL_COUNT": DoubleType() (nullable = True)
 |-- "ELECTRONICS_FURNITURE_COUNT": DoubleType() (nullable = True)
 |-- "CAR_SALES_COUNT": DoubleType() (nullable = True)
 |-- "CAR_SERVICE_SUPPLIES_COUNT": DoubleType() (nullable = True)
 |-- "GAS_STATION_COUNT": DoubleType() (nullable = True)
 |-- "E_COMMERCE_COUNT": DoubleType() (nullable = True)
Total rows: 3742994

üìå FLOATING_POPULATION_INFO schema:
root
 |-- "PROVINCE_CODE": StringType(2) (nullable = False)
 |-- "CITY_CODE": StringType(5) (nullable = False)
 |-- "DISTRICT_CODE": StringType(8) (nullable = False)
 |-- "STANDARD_YEAR_MONTH": StringType(6) (nullable = False)
 |-- "WEEKDAY_WEEKEND": StringType(1) (nullable = False)
 |-- "GENDER": StringType(1) (nullable = False)
 |-- "AGE_GROUP": StringType(2) (nullable = False)
 |-- "TIME_SLOT": StringType(3) (nullable = False)
 |-- "RESIDENTIAL_POPULATION": DoubleType() (nullable = True)
 |-- "WORKING_POPULATION": DoubleType() (nullable = True)
 |-- "VISITING_POPULATION": DoubleType() (nullable = True)
Total rows: 1546272

üìå ASSET_INCOME_INFO schema:
root
 |-- "PROVINCE_CODE": StringType(2) (nullable = False)
 |-- "CITY_CODE": StringType(5) (nullable = False)
 |-- "DISTRICT_CODE": StringType(8) (nullable = False)
 |-- "STANDARD_YEAR_MONTH": StringType(6) (nullable = False)
 |-- "INCOME_TYPE": StringType(1) (nullable = True)
 |-- "GENDER": StringType(1) (nullable = False)
 |-- "AGE_GROUP": StringType(2) (nullable = False)
 |-- "CUSTOMER_COUNT": LongType() (nullable = True)
 |-- "RATE_MODEL_GROUP_LARGE_COMPANY_EMPLOYEE": DoubleType() (nullable = True)
 |-- "RATE_MODEL_GROUP_GENERAL_EMPLOYEE": DoubleType() (nullable = True)
 |-- "RATE_MODEL_GROUP_PROFESSIONAL_EMPLOYEE": DoubleType() (nullable = True)
 |-- "RATE_MODEL_GROUP_EXECUTIVES": DoubleType() (nullable = True)
 |-- "RATE_MODEL_GROUP_GENERAL_SELF_EMPLOYED": DoubleType() (nullable = True)
 |-- "RATE_MODEL_GROUP_PROFESSIONAL_SELF_EMPLOYED": DoubleType() (nullable = True)
 |-- "RATE_MODEL_GROUP_OTHERS": DoubleType() (nullable = True)
 |-- "PYEONG_UNDER_20_COUNT": LongType() (nullable = True)
 |-- "PYEONG_OVER_20_COUNT": LongType() (nullable = True)
 |-- "PYEONG_OVER_30_COUNT": LongType() (nullable = True)
 |-- "PYEONG_OVER_40_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_PRICE_GAP": DoubleType() (nullable = True)
 |-- "AVERAGE_LEASE_GAP": DoubleType() (nullable = True)
 |-- "AVERAGE_INCOME": LongType() (nullable = True)
 |-- "AVERAGE_INCOME_OVER_70": LongType() (nullable = True)
 |-- "AVERAGE_HOUSEHOLD_INCOME": LongType() (nullable = True)
 |-- "MEDIAN_INCOME": LongType() (nullable = True)
 |-- "RATE_INCOME_UNDER_20M": DoubleType() (nullable = True)
 |-- "RATE_INCOME_20M_TO_30M": DoubleType() (nullable = True)
 |-- "RATE_INCOME_30M_TO_40M": DoubleType() (nullable = True)
 |-- "RATE_INCOME_40M_TO_50M": DoubleType() (nullable = True)
 |-- "RATE_INCOME_50M_TO_60M": DoubleType() (nullable = True)
 |-- "RATE_INCOME_60M_TO_70M": DoubleType() (nullable = True)
 |-- "RATE_INCOME_OVER_70M": DoubleType() (nullable = True)
 |-- "CARD_COUNT": LongType() (nullable = True)
 |-- "CREDIT_CARD_COUNT": LongType() (nullable = True)
 |-- "CHECK_CARD_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_CARD_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_CREDIT_CARD_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_CHECK_CARD_COUNT": LongType() (nullable = True)
 |-- "TOTAL_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_SALES_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_FULL_PAYMENT_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_INSTALLMENT_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_CASH_ADVANCE_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_CREDIT_CARD_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_CHECK_CARD_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_ABROAD_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_SALES_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_FULL_PAYMENT_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_INSTALLMENT_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_CASH_ADVANCE_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_CREDIT_CARD_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_CHECK_CARD_USAGE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_ABROAD_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_TOTAL_LIMIT_AMOUNT": LongType() (nullable = True)
 |-- "BALANCE_COUNT": LongType() (nullable = True)
 |-- "BANK_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NON_BANK_BALANCE_COUNT": LongType() (nullable = True)
 |-- "CREDIT_BALANCE_COUNT": LongType() (nullable = True)
 |-- "HOUSING_BALANCE_COUNT": LongType() (nullable = True)
 |-- "MORTGAGE1_BALANCE_COUNT": LongType() (nullable = True)
 |-- "MORTGAGE2_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_BANK_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_NON_BANK_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_CREDIT_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_HOUSING_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_MORTGAGE1_BALANCE_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_MORTGAGE2_BALANCE_COUNT": LongType() (nullable = True)
 |-- "TOTAL_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_BANK_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_NON_BANK_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_CREDIT_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_HOUSING_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_MORTGAGE1_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "TOTAL_MORTGAGE2_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_BANK_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_NON_BANK_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_CREDIT_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_HOUSING_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_MORTGAGE1_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_MORTGAGE2_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_BANK_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_NON_BANK_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_CREDIT_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_HOUSING_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_MORTGAGE1_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_MORTGAGE2_BALANCE_COUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_BANK_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_NON_BANK_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_CREDIT_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_HOUSING_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_MORTGAGE1_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "NEW_TOTAL_MORTGAGE2_BALANCE_AMOUNT": LongType() (nullable = True)
 |-- "DELINQUENT0_COUNT": LongType() (nullable = True)
 |-- "DELINQUENT30_COUNT": LongType() (nullable = True)
 |-- "DELINQUENT90_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_DELINQUENT_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_DELINQUENT_DAYS": LongType() (nullable = True)
 |-- "AVERAGE_MAX_DELINQUENT_DAYS": LongType() (nullable = True)
 |-- "AVERAGE_DELINQUENT_AMOUNT": LongType() (nullable = True)
 |-- "MEDIAN_DELINQUENT_AMOUNT": LongType() (nullable = True)
 |-- "AVERAGE_SCORE": LongType() (nullable = True)
 |-- "RATE_SCORE1": DoubleType() (nullable = True)
 |-- "RATE_SCORE2": DoubleType() (nullable = True)
 |-- "RATE_SCORE3": DoubleType() (nullable = True)
 |-- "AVERAGE_LOAN_POTENTIAL1": LongType() (nullable = True)
 |-- "AVERAGE_LOAN_POTENTIAL2": LongType() (nullable = True)
 |-- "OWN_HOUSING_COUNT": LongType() (nullable = True)
 |-- "MULTIPLE_HOUSING_COUNT": LongType() (nullable = True)
 |-- "AVERAGE_ASSET_AMOUNT": LongType() (nullable = True)
 |-- "RATE_HIGHEND": DoubleType() (nullable = True)
Total rows: 160197

üìå M_SCCO_MST schema:
root
 |-- "PROVINCE_CODE": StringType(2) (nullable = True)
 |-- "CITY_CODE": StringType(5) (nullable = True)
 |-- "DISTRICT_CODE": StringType(8) (nullable = True)
 |-- "PROVINCE_KOR_NAME": StringType(50) (nullable = True)
 |-- "CITY_KOR_NAME": StringType(50) (nullable = True)
 |-- "DISTRICT_KOR_NAME": StringType(50) (nullable = True)
 |-- "PROVINCE_ENG_NAME": StringType(50) (nullable = True)
 |-- "CITY_ENG_NAME": StringType(50) (nullable = True)
 |-- "DISTRICT_ENG_NAME": StringType(50) (nullable = True)
 |-- "DISTRICT_GEOM": GeographyType() (nullable = True)
Total rows: 467

In [343]:
# ÏùºÎ∂Ä Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞
card_sample = card_df.limit(5).to_pandas()
float_sample = float_df.limit(5).to_pandas()
asset_sample = asset_df.limit(5).to_pandas()
admin_sample = admin_df.limit(5).to_pandas()

# Ï∂úÎ†•
print("\nüí≥ CARD_SALES_INFO sample:")
print(card_sample)

print("\nüë• FLOATING_POPULATION_INFO sample:")
print(float_sample)

print("\nüí∞ ASSET_INCOME_INFO sample:")
print(asset_sample)

print("\nüó∫Ô∏è M_SCCO_MST sample:")
print(admin_sample)

üí≥ CARD_SALES_INFO sample:
  PROVINCE_CODE CITY_CODE DISTRICT_CODE STANDARD_YEAR_MONTH CARD_TYPE  \
0            11     11140      11140129              202112         1
1            11     11140      11140129              202112         1
2            11     11140      11140129              202112         1
3            11     11140      11140129              202112         1
4            11     11140      11140129              202112         1

  WEEKDAY_WEEKEND GENDER AGE_GROUP TIME_SLOT LIFESTYLE  ...  TRAVEL_COUNT  \
0               H      M        30       T15       L01  ...           0.0
1               W      F        55       T21       L01  ...           0.0
2               W      M        40       T12       L02  ...           0.0
3               W      M        60       T15       L04  ...           0.0
4               W      F        50       T12       L01  ...           0.0

   BEAUTY_COUNT  HOME_LIFE_SERVICE_COUNT  EDUCATION_ACADEMY_COUNT  \
0          0.00                      0.0                      0.0
1          0.00                      0.0                      0.0
2          0.00                      0.0                      0.0
3          0.00                      0.0                      0.0
4          5.17                      0.0                      0.0

   MEDICAL_COUNT  ELECTRONICS_FURNITURE_COUNT  CAR_SALES_COUNT  \
0            0.0                          0.0              0.0
1            0.0                          0.0              0.0
2            0.0                          0.0              0.0
3            0.0                          0.0              0.0
4            0.0                          0.0              0.0

   CAR_SERVICE_SUPPLIES_COUNT  GAS_STATION_COUNT  E_COMMERCE_COUNT
0                         0.0                0.0               0.0
1                         0.0                0.0               0.0
2                         0.0                0.0               0.0
3                         0.0                0.0               0.0
4                         0.0                0.0               0.0

[5 rows x 50 columns]

üë• FLOATING_POPULATION_INFO sample:
  PROVINCE_CODE CITY_CODE DISTRICT_CODE STANDARD_YEAR_MONTH WEEKDAY_WEEKEND  \
0            11     11140      11140101              202101               W
1            11     11140      11140101              202101               H
2            11     11140      11140101              202101               H
3            11     11140      11140101              202101               H
4            11     11140      11140101              202101               H

  GENDER AGE_GROUP TIME_SLOT  RESIDENTIAL_POPULATION  WORKING_POPULATION  \
0      M        40       T12                    5.27              204.62
1      F        20       T18                    0.30                6.46
2      M        40       T12                    4.56               15.22
3      M        20       T21                    0.48                1.38
4      M        65       T15                    1.38                3.04

   VISITING_POPULATION
0               120.09
1                14.26
2                30.69
3                 4.83
4                 9.30

üí∞ ASSET_INCOME_INFO sample:
  PROVINCE_CODE CITY_CODE DISTRICT_CODE STANDARD_YEAR_MONTH INCOME_TYPE  \
0            11     11560      11560101              202108           0
1            11     11560      11560101              202108           1
2            11     11560      11560101              202108           1
3            11     11560      11560101              202108           1
4            11     11560      11560101              202108           1

  GENDER AGE_GROUP  CUSTOMER_COUNT  RATE_MODEL_GROUP_LARGE_COMPANY_EMPLOYEE  \
0      F        45             501                                     0.91
1      M        40             592                                     5.84
2      M        50             804                                     3.51
3      F        35             631                                     3.07
4      M        20             448                                     0.35

   RATE_MODEL_GROUP_GENERAL_EMPLOYEE  ...  AVERAGE_SCORE  RATE_SCORE1  \
0                              47.00  ...              3        77.26
1                              43.66  ...              3        57.56
2                              35.81  ...              4        47.93
3                              50.84  ...              3        62.86
4                              14.67  ...              5        12.13

   RATE_SCORE2  RATE_SCORE3  AVERAGE_LOAN_POTENTIAL1  AVERAGE_LOAN_POTENTIAL2  \
0        16.70         6.13                   222635                   -30344
1        33.73         6.86                  1648186                   763775
2        40.04        10.31                  2599543                  1599275
3        33.60         2.24                  1229941                   526744
4        84.88         3.06                   571829                  -222711

   OWN_HOUSING_COUNT  MULTIPLE_HOUSING_COUNT  AVERAGE_ASSET_AMOUNT  \
0                 88                      27                377309
1                140                      29                407892
2                185                      50                385991
3                 90                      19                354258
4                  4                       2                379852

   RATE_HIGHEND
0          5.91
1         13.82
2         16.01
3          5.97
4          0.92

[5 rows x 115 columns]

üó∫Ô∏è M_SCCO_MST sample:
  PROVINCE_CODE CITY_CODE DISTRICT_CODE PROVINCE_KOR_NAME CITY_KOR_NAME  \
0            11     11110      11110101             ÏÑúÏö∏ÌäπÎ≥ÑÏãú           Ï¢ÖÎ°úÍµ¨
1            11     11110      11110102             ÏÑúÏö∏ÌäπÎ≥ÑÏãú           Ï¢ÖÎ°úÍµ¨
2            11     11110      11110103             ÏÑúÏö∏ÌäπÎ≥ÑÏãú           Ï¢ÖÎ°úÍµ¨
3            11     11110      11110104             ÏÑúÏö∏ÌäπÎ≥ÑÏãú           Ï¢ÖÎ°úÍµ¨
4            11     11110      11110105             ÏÑúÏö∏ÌäπÎ≥ÑÏãú           Ï¢ÖÎ°úÍµ¨

  DISTRICT_KOR_NAME PROVINCE_ENG_NAME CITY_ENG_NAME DISTRICT_ENG_NAME  \
0               Ï≤≠Ïö¥Îèô             Seoul     Jongno-gu     Cheongun-dong
1               Ïã†ÍµêÎèô             Seoul     Jongno-gu       Singyo-dong
2               Í∂ÅÏ†ïÎèô             Seoul     Jongno-gu    Gungjeong-dong
3               Ìö®ÏûêÎèô             Seoul     Jongno-gu        Hyoja-dong
4               Ï∞ΩÏÑ±Îèô             Seoul     Jongno-gu   Changseong-dong

                                       DISTRICT_GEOM
0  {\n  "coordinates": [\n    [\n      [\n       ...
1  {\n  "coordinates": [\n    [\n      [\n       ...
2  {\n  "coordinates": [\n    [\n      [\n       ...
3  {\n  "coordinates": [\n    [\n      [\n       ...
4  {\n  "coordinates": [\n    [\n      [\n       ...

In [344]:
print(card_df_pd.describe())

        TOTAL_SALES    FOOD_SALES  COFFEE_SALES  ENTERTAINMENT_SALES  \
count  3.742994e+06  3.742994e+06  3.742994e+06         3.742994e+06
mean   1.493614e+08  3.979121e+06  1.041453e+06         8.040715e+04
std    1.905431e+09  5.809149e+07  2.400028e+07         1.817873e+06
min    5.000000e+00  0.000000e+00  0.000000e+00         0.000000e+00
25%    2.489410e+05  0.000000e+00  0.000000e+00         0.000000e+00
50%    1.440312e+06  1.949780e+05  0.000000e+00         0.000000e+00
75%    1.001267e+07  1.211793e+06  9.836500e+04         0.000000e+00
max    6.528298e+11  1.488637e+10  7.385426e+09         5.892177e+08

       DEPARTMENT_STORE_SALES  LARGE_DISCOUNT_STORE_SALES  \
count            3.742994e+06                3.742994e+06
mean             4.105360e+06                1.811221e+06
std              5.553114e+07                2.585855e+07
min              0.000000e+00                0.000000e+00
25%              0.000000e+00                0.000000e+00
50%              0.000000e+00                0.000000e+00
75%              0.000000e+00                0.000000e+00
max              6.291718e+09                7.525236e+09

       SMALL_RETAIL_STORE_SALES  CLOTHING_ACCESSORIES_SALES  \
count              3.742994e+06                3.742994e+06
mean               4.634996e+06                4.742069e+05
std                6.086018e+07                3.717775e+06
min                0.000000e+00                0.000000e+00
25%                6.083000e+03                0.000000e+00
50%                1.115210e+05                0.000000e+00
75%                6.432600e+05                0.000000e+00
max                8.034506e+09                4.131306e+08

       SPORTS_CULTURE_LEISURE_SALES  ACCOMMODATION_SALES  ...  TRAVEL_COUNT  \
count                  3.742994e+06         3.742994e+06  ...  3.742994e+06
mean                   8.768077e+05         5.125887e+05  ...  1.061010e+00
std                    7.033154e+06         8.954426e+06  ...  6.806188e+01
min                    0.000000e+00         0.000000e+00  ...  0.000000e+00
25%                    0.000000e+00         0.000000e+00  ...  0.000000e+00
50%                    0.000000e+00         0.000000e+00  ...  0.000000e+00
75%                    2.144600e+04         0.000000e+00  ...  0.000000e+00
max                    1.314419e+09         2.310546e+09  ...  2.767514e+04

       BEAUTY_COUNT  HOME_LIFE_SERVICE_COUNT  EDUCATION_ACADEMY_COUNT  \
count  3.742994e+06             3.742994e+06             3.742994e+06
mean   4.050128e+00             3.576538e+02             1.150039e+01
std    2.237072e+01             8.001624e+03             6.813622e+02
min    0.000000e+00             0.000000e+00             0.000000e+00
25%    0.000000e+00             0.000000e+00             0.000000e+00
50%    0.000000e+00             0.000000e+00             0.000000e+00
75%    0.000000e+00             0.000000e+00             0.000000e+00
max    2.755910e+03             8.835188e+05             1.654348e+05

       MEDICAL_COUNT  ELECTRONICS_FURNITURE_COUNT  CAR_SALES_COUNT  \
count   3.742994e+06                 3.742994e+06     3.742994e+06
mean    3.276639e+01                 2.175786e+01     7.561143e-01
std     2.264539e+02                 9.256585e+02     2.818859e+01
min     0.000000e+00                 0.000000e+00     0.000000e+00
25%     0.000000e+00                 0.000000e+00     0.000000e+00
50%     0.000000e+00                 0.000000e+00     0.000000e+00
75%     5.250000e+00                 0.000000e+00     0.000000e+00
max     1.365284e+04                 1.372818e+05     6.215440e+03

       CAR_SERVICE_SUPPLIES_COUNT  GAS_STATION_COUNT  E_COMMERCE_COUNT
count                3.742994e+06       3.742994e+06      3.742994e+06
mean                 1.505908e+01       9.890865e+00      3.720556e+02
std                  1.168696e+02       7.222776e+01      4.180024e+03
min                  0.000000e+00       0.000000e+00      0.000000e+00
25%                  0.000000e+00       0.000000e+00      0.000000e+00
50%                  0.000000e+00       0.000000e+00      0.000000e+00
75%                  0.000000e+00       0.000000e+00      0.000000e+00
max                  1.101687e+04       6.850030e+03      3.006110e+05

[8 rows x 40 columns]

In [348]:
# ÏãúÍ∞ÑÎåÄ Îß§Ìïë ÎîïÏÖîÎÑàÎ¶¨ (CODE_ID == 'M03')
time_slot_map = {
    'T06': 'ÏïÑÏπ®',
    'T09': 'Ïò§Ï†Ñ',
    'T12': 'Ï†êÏã¨',
    'T15': 'Ïò§ÌõÑ',
    'T18': 'Ï†ÄÎÖÅ',
    'T21': 'Ïã¨Ïïº',
    'T24': 'Í∏∞ÌÉÄ'
}

# ÎùºÏù¥ÌîÑÏä§ÌÉÄÏùº Îß§Ìïë ÎîïÏÖîÎÑàÎ¶¨ (CODE_ID == 'M06')
lifestyle_map = {
    'L01': 'Ïã±Í∏Ä',
    'L02': 'Ïã†ÌòºÎ∂ÄÎ∂Ä',
    'L03': 'ÏòÅÏú†ÏïÑÍ∞ÄÏ°±',
    'L04': 'Ï≤≠ÏÜåÎÖÑÍ∞ÄÏ°±',
    'L05': 'ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±',
    'L06': 'Ïã§Î≤Ñ'
}

card_df = card_df.to_pandas()

# ÎîïÏÖîÎÑàÎ¶¨Î•º Ïù¥Ïö©Ìïú Í∞í ÏπòÌôò
card_df['TIME_SLOT'] = card_df['TIME_SLOT'].replace(time_slot_map)
card_df['LIFESTYLE'] = card_df['LIFESTYLE'].replace(lifestyle_map)

from IPython.display import display
display(card_df.head())

,PROVINCE_CODE,CITY_CODE,DISTRICT_CODE,STANDARD_YEAR_MONTH,CARD_TYPE,WEEKDAY_WEEKEND,GENDER,AGE_GROUP,TIME_SLOT,LIFESTYLE,...,TRAVEL_COUNT,BEAUTY_COUNT,HOME_LIFE_SERVICE_COUNT,EDUCATION_ACADEMY_COUNT,MEDICAL_COUNT,ELECTRONICS_FURNITURE_COUNT,CAR_SALES_COUNT,CAR_SERVICE_SUPPLIES_COUNT,GAS_STATION_COUNT,E_COMMERCE_COUNT
0,11,11140,11140126,202205,1,W,M,35,Í∏∞ÌÉÄ,ÏòÅÏú†ÏïÑÍ∞ÄÏ°±,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0
1,11,11140,11140126,202205,1,W,F,50,Ïã¨Ïïº,ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±,...,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0
2,11,11140,11140126,202205,1,W,M,35,Í∏∞ÌÉÄ,Ïã±Í∏Ä,...,0.0,0.0,5.21,0.0,0.00,0.0,0.0,0.0,0.0,0.0
3,11,11140,11140126,202205,1,W,M,30,Ï†ÄÎÖÅ,*,...,0.0,0.0,0.00,0.0,5.21,0.0,0.0,0.0,0.0,0.0
4,11,11140,11140126,202205,1,H,F,40,Ï†êÏã¨,ÏòÅÏú†ÏïÑÍ∞ÄÏ°±,...,0.0,0.0,0.00,0.0,5.21,0.0,0.0,0.0,0.0,0.0

In [349]:
# 1. SnowflakeÏóêÏÑú m_scco_mst ÌÖåÏù¥Î∏î Î∂àÎü¨Ïò§Í∏∞
mst_df = session.table("M_SCCO_MST").to_pandas()

# 2. Îß§ÌïëÏö© ÎîïÏÖîÎÑàÎ¶¨ ÏÉùÏÑ±
city_map = dict(zip(mst_df['CITY_CODE'], mst_df['CITY_KOR_NAME']))
district_map = dict(zip(mst_df['DISTRICT_CODE'], mst_df['DISTRICT_KOR_NAME']))

# 3. Ïª¨Îüº ÌÉÄÏûÖÏùÑ strÎ°ú Î≥ÄÌôò (Ïïà ÌïòÎ©¥ KeyError ÎÇ† Ïàò ÏûàÏùå)
card_df['CITY_CODE'] = card_df['CITY_CODE'].astype(str)
card_df['DISTRICT_CODE'] = card_df['DISTRICT_CODE'].astype(str)

# 4. Í∞í ÏπòÌôò
card_df['CITY_CODE'] = card_df['CITY_CODE'].replace(city_map)
card_df['DISTRICT_CODE'] = card_df['DISTRICT_CODE'].replace(district_map)

card_df = card_df.rename(columns={
    'CITY_CODE': 'CITY_NAME',
    'DISTRICT_CODE': 'DISTRICT_NAME'
})

from IPython.display import display
display(card_df[['CITY_NAME', 'DISTRICT_NAME']].head())

  CITY_NAME DISTRICT_NAME
0        Ï§ëÍµ¨          Î™ÖÎèô1Í∞Ä
1        Ï§ëÍµ¨          Î™ÖÎèô1Í∞Ä
2        Ï§ëÍµ¨          Î™ÖÎèô1Í∞Ä
3        Ï§ëÍµ¨          Î™ÖÎèô1Í∞Ä
4        Ï§ëÍµ¨          Î™ÖÎèô1Í∞Ä

In [351]:
# Î¨∏ÏûêÏó¥Î°ú Î≥ÄÌôò (ÌòπÏãú Ïà´ÏûêÌòïÏùº ÏàòÎèÑ ÏûàÏúºÎãà)
card_df['STANDARD_YEAR_MONTH'] = card_df['STANDARD_YEAR_MONTH'].astype(str)

# Ïó∞ÎèÑ, Ïõî Î∂ÑÎ¶¨
card_df['YEAR'] = card_df['STANDARD_YEAR_MONTH'].str[:4]
card_df['MONTH'] = card_df['STANDARD_YEAR_MONTH'].str[4:6]

display(card_df[['STANDARD_YEAR_MONTH', 'YEAR', 'MONTH']].head())

  STANDARD_YEAR_MONTH  YEAR MONTH
0              202205  2022    05
1              202205  2022    05
2              202205  2022    05
3              202205  2022    05
4              202205  2022    05

In [358]:
# Í∏∞Ï°¥ Ïª¨Îüº Ï†úÍ±∞
card_df = card_df.drop(columns=['STANDARD_YEAR_MONTH', 'PROVINCE_CODE'])

In [362]:
display(card_df.head())

,CITY_NAME,DISTRICT_NAME,CARD_TYPE,WEEKDAY_WEEKEND,GENDER,AGE_GROUP,TIME_SLOT,LIFESTYLE,TOTAL_SALES,FOOD_SALES,...,HOME_LIFE_SERVICE_COUNT,EDUCATION_ACADEMY_COUNT,MEDICAL_COUNT,ELECTRONICS_FURNITURE_COUNT,CAR_SALES_COUNT,CAR_SERVICE_SUPPLIES_COUNT,GAS_STATION_COUNT,E_COMMERCE_COUNT,YEAR,MONTH
0,Ï§ëÍµ¨,Î™ÖÎèô1Í∞Ä,1,W,M,35,Í∏∞ÌÉÄ,ÏòÅÏú†ÏïÑÍ∞ÄÏ°±,633205,0,...,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,2022,05
1,Ï§ëÍµ¨,Î™ÖÎèô1Í∞Ä,1,W,F,50,Ïã¨Ïïº,ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±,4485594,1312793,...,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,2022,05
2,Ï§ëÍµ¨,Î™ÖÎèô1Í∞Ä,1,W,M,35,Í∏∞ÌÉÄ,Ïã±Í∏Ä,1605163,0,...,5.21,0.0,0.00,0.0,0.0,0.0,0.0,0.0,2022,05
3,Ï§ëÍµ¨,Î™ÖÎèô1Í∞Ä,1,W,M,30,Ï†ÄÎÖÅ,*,1649461,263185,...,0.00,0.0,5.21,0.0,0.0,0.0,0.0,0.0,2022,05
4,Ï§ëÍµ¨,Î™ÖÎèô1Í∞Ä,1,H,F,40,Ï†êÏã¨,ÏòÅÏú†ÏïÑÍ∞ÄÏ°±,6832222,2621068,...,0.00,0.0,5.21,0.0,0.0,0.0,0.0,0.0,2022,05

# 2. ÌÉÑÏÜå Í≥ÑÏàò (CF) Ï¥àÍ∏∞ ÌÖåÏù¥Î∏î ÎßåÎì§Í∏∞ 
## 2-1. ÏÜåÎπÑÌÉÑÏÜå ÏßÄÌëú CSV Î™®ÏúºÍ∏∞ + ÌïúÌôîÎ°ú Î≥ÄÍ≤Ω

In [291]:

import pandas as pd
from pathlib import Path
from forex_python.converter import CurrencyRates

In [293]:
RAW = Path("data/SupplyChainGHGEmissionFactors_v1.3.0_NAICS_CO2e_USD2022.csv")
OUT = Path("data/carbon_factor_supplychain_krw.csv")

# 1. csv ÏùΩÍ∏∞ 
df = pd.read_csv(RAW)

# 2 USD Îã®ÏúÑ & Ï†ÑÏ≤¥ GHG Ïó¥Îßå ÏÑ†ÌÉù
mask = (
    (df["Unit"].str.contains("USD", na=False)) &
    (df["GHG"].str.contains("All", na=False))
)
df = df.loc[mask, ["2017 NAICS Title", "Supply Chain Emission Factors with Margins"]]
df = df.rename(columns={
        "2017 NAICS Title": "Category",
        "Supply Chain Emission Factors with Margins": "kgCO2e_per_USD"
     })

# 3. ÌôòÏú® ‚Üí 1,000Ïõê Í∏∞Ï§Ä (ÏÉÅÏàò ÏûÖÎ†•)
USD_KRW = 1400        # <‚îÄ Ïò§ÎäòÏûê ÌôòÏú® Ïà´ÏûêÎßå Î∞îÍøî Ï£ºÏÑ∏Ïöî
df["kgCO2e_per_1000KRW"] = df["kgCO2e_per_USD"] / (USD_KRW / 1000)

# 4. Ï†ÄÏû•
OUT.parent.mkdir(parents=True, exist_ok=True)
df[["Category", "kgCO2e_per_1000KRW"]].to_csv(OUT, index=False)
print("‚úÖ CSV Ï†ÄÏû• ÏôÑÎ£å ‚Üí", OUT)

‚úÖ CSV Ï†ÄÏû• ÏôÑÎ£å ‚Üí data\carbon_factor_supplychain_krw.csv

In [295]:
from pathlib import Path

RAW = Path(r"C:\Users\SSAFY\Desktop\HACKATHON_SnowflakeXStreamlit\data\SupplyChainGHGEmissionFactors_v1.3.0_NAICS_CO2e_USD2022.csv")
print("ÌååÏùº Ï°¥Ïû¨?", RAW.exists())   # TrueÏó¨Ïïº read_csv Í∞ÄÎä•
         # Desktop Ìè¥ÎçîÍ∞Ä Î≥¥Ïù¥ÎÇò?

ÌååÏùº Ï°¥Ïû¨? True

## 2-2. Ïπ¥ÎìúÏÇ¨ lifestyle ÏΩîÎìú <-> ÌÉÑÏÜå Ïπ¥ÌÖåÍ≥†Î¶¨ Îß§ÌïëÌëú ÏûëÏÑ±

In [298]:
# ÌååÏùº Í≤ΩÎ°ú 
CSV_FACTOR = "data/carbon_factor_supplychain_krw.csv"

# ‚ñ∏ Snowflake Ïó∞Í≤∞ (secrets.toml Ïì∞Î©¥ ÏÉùÎûµ)
SNOW_CFG = {
    "account": "mapbobj-vp47779",
    "user": "soojin",
    "password" : "Kimbusan51480501@",
    "role": "ACCOUNTADMIN",
    'warehouse': "HACKATHON",
    'database' : "RAW_DATA",
    'schema'   : "GRANDATA"
}

# 1. ÏÇ¨Ïö©Ï≤ò Î™©Î°ù ÏûêÎèô Ï∂îÏ∂ú
usage_cols = [c for c in card_df.columns if c.endswith("_SALES")]
USAGES = [u.replace("_SALES", "") for u in usage_cols]
print(USAGES)   # ['FOOD','COFFEE', ... , 'E_COMMERCE']

['TOTAL', 'FOOD', 'COFFEE', 'ENTERTAINMENT', 'DEPARTMENT_STORE', 'LARGE_DISCOUNT_STORE', 'SMALL_RETAIL_STORE', 'CLOTHING_ACCESSORIES', 'SPORTS_CULTURE_LEISURE', 'ACCOMMODATION', 'TRAVEL', 'BEAUTY', 'HOME_LIFE_SERVICE', 'EDUCATION_ACADEMY', 'MEDICAL', 'ELECTRONICS_FURNITURE', 'CAR', 'CAR_SERVICE_SUPPLIES', 'GAS_STATION', 'E_COMMERCE']

In [300]:
import pandas as pd
import re

cf = pd.read_csv(CSV_FACTOR)

# ÌÇ§ÏõåÎìú ÏÇ¨Ï†Ñ
kw_dict = {
    "FOOD": ["food", "restaurant", "catering"],
    "COFFEE": ["coffee", "tea", "cafe"],
    "ENTERTAINMENT": ["entertainment", "cinema", "theater", "music"],
    "DEPARTMENT_STORE": ["department store"],
    "LARGE_DISCOUNT_STORE": ["hypermarket", "discount", "warehouse club"],
    "SMALL_RETAIL_STORE": ["convenience", "small retail"],
    "CLOTHING_ACCESSORIES": ["clothing", "apparel", "footwear", "jewelry"],
    "SPORTS_CULTURE_LEISURE": ["sport", "leisure", "culture"],
    "ACCOMMODATION": ["hotel", "accommodation", "lodging"],
    "TRAVEL": ["travel", "airline", "tour", "rail"],
    "BEAUTY": ["beauty", "cosmetics", "hair", "spa"],
    "HOME_LIFE_SERVICE": ["home service", "cleaning", "repair"],
    "EDUCATION_ACADEMY": ["education", "academy", "training"],
    "MEDICAL": ["medical", "hospital", "clinic", "pharmacy"],
    "ELECTRONICS_FURNITURE": ["electronics", "computer", "furniture", "appliance"],
    "CAR": ["car", "auto", "vehicle", "motor"],
    "CAR_SERVICE_SUPPLIES": ["car service", "auto repair", "repair"],
    "GAS_STATION": ["gas station", "fuel", "petrol"],
    "E_COMMERCE": ["e-commerce", "online", "web", "internet", "digital"]
}

# fallback Í≥ÑÏàò
DEFAULTS = {
    "CAR": 0.4,
    "E_COMMERCE": 0.14
}

# ÏûêÎèô Îß§Ìïë
rows = []
for usage in kw_dict.keys():
    patt = re.compile("|".join(kw_dict[usage]), re.I)
    sub = cf[cf["Category"].str.lower().str.contains(patt, na=False)]
    
    if sub.empty:
        print(f"‚ö† Îß§Ìïë ÏïàÎê® ÏÇ¨Ïö©Ï≤ò: {usage}")
        factor = DEFAULTS.get(usage, 0)
    else:
        factor = sub["kgCO2e_per_1000KRW"].mean()

    rows.append({
        "USAGE": usage,
        "KGCO2E_PER_1000KRW": round(factor, 4)
    })

# Ï†ÄÏû•
usage_factor = pd.DataFrame(rows)
usage_factor.to_csv("usage_factor_table.csv", index=False)
usage_factor

                     USAGE  KGCO2E_PER_1000KRW
0                     FOOD              0.1907
1                   COFFEE              0.2018
2            ENTERTAINMENT              0.0626
3         DEPARTMENT_STORE              0.1171
4     LARGE_DISCOUNT_STORE              0.1171
5       SMALL_RETAIL_STORE              0.1321
6     CLOTHING_ACCESSORIES              0.1058
7   SPORTS_CULTURE_LEISURE              0.3711
8            ACCOMMODATION              0.1087
9                   TRAVEL              0.1715
10                  BEAUTY              0.1236
11       HOME_LIFE_SERVICE              0.0824
12       EDUCATION_ACADEMY              0.0771
13                 MEDICAL              0.0753
14   ELECTRONICS_FURNITURE              0.0923
15                     CAR              0.1251
16    CAR_SERVICE_SUPPLIES              0.0751
17             GAS_STATION              0.2973
18              E_COMMERCE              0.0479

In [302]:
# 3. snowflake: ÌÖåÏù¥Î∏î/Î∑∞ ÏÉùÏÑ± 
from snowflake.snowpark import Session

session = Session.builder.configs(SNOW_CFG).create()

# üîë Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ÏôÄ Ïä§ÌÇ§Îßà Î™ÖÏãúÏ†ÅÏúºÎ°ú ÏÑ§Ï†ï
session.sql("USE DATABASE MY_DB").collect()
session.sql("USE SCHEMA MY_SCHEMA").collect()


# 3-1 ÌÖåÏù¥Î∏î ÏóÖÎ°úÎìú
session.sql("""
    CREATE OR REPLACE TABLE USAGE_FACTOR_TBL (
        USAGE STRING,
        KGCO2E_PER_1000KRW FLOAT
    )
""").collect()


session.write_pandas(usage_factor, "USAGE_FACTOR_TBL", overwrite=True)

In [303]:
all_columns = [
    'PROVINCE_CODE', 'CITY_CODE', 'DISTRICT_CODE', 'STANDARD_YEAR_MONTH',
    'CARD_TYPE', 'WEEKDAY_WEEKEND', 'GENDER', 'AGE_GROUP', 'TIME_SLOT', 'LIFESTYLE',
    'TOTAL_SALES', 'FOOD_SALES', 'COFFEE_SALES', 'ENTERTAINMENT_SALES',
    'DEPARTMENT_STORE_SALES', 'LARGE_DISCOUNT_STORE_SALES', 'SMALL_RETAIL_STORE_SALES',
    'CLOTHING_ACCESSORIES_SALES', 'SPORTS_CULTURE_LEISURE_SALES', 'ACCOMMODATION_SALES',
    'TRAVEL_SALES', 'BEAUTY_SALES', 'HOME_LIFE_SERVICE_SALES', 'EDUCATION_ACADEMY_SALES',
    'MEDICAL_SALES', 'ELECTRONICS_FURNITURE_SALES', 'CAR_SALES', 'CAR_SERVICE_SUPPLIES_SALES',
    'GAS_STATION_SALES', 'E_COMMERCE_SALES', 'TOTAL_COUNT', 'FOOD_COUNT', 'COFFEE_COUNT',
    'ENTERTAINMENT_COUNT', 'DEPARTMENT_STORE_COUNT', 'LARGE_DISCOUNT_STORE_COUNT',
    'SMALL_RETAIL_STORE_COUNT', 'CLOTHING_ACCESSORIES_COUNT', 'SPORTS_CULTURE_LEISURE_COUNT',
    'ACCOMMODATION_COUNT', 'TRAVEL_COUNT', 'BEAUTY_COUNT', 'HOME_LIFE_SERVICE_COUNT',
    'EDUCATION_ACADEMY_COUNT', 'MEDICAL_COUNT', 'ELECTRONICS_FURNITURE_COUNT',
    'CAR_SALES_COUNT', 'CAR_SERVICE_SUPPLIES_COUNT', 'GAS_STATION_COUNT', 'E_COMMERCE_COUNT'
]

# USAGES Î¶¨Ïä§Ìä∏: *_SALES Ï§ë TOTAL_SALES Ï†úÏô∏
USAGES = [col.replace('_SALES', '') for col in all_columns if col.endswith('_SALES') and col != 'TOTAL_SALES']

In [369]:
unp_cols = ", ".join([f"{usage}_SALES" for usage in USAGES])

create_view = f"""
CREATE OR REPLACE VIEW CARD_CO2E_VW AS
WITH base AS (
  SELECT 
    *,
    REPLACE(usage, '_SALES', '') AS usage_clean,
    value AS sales_amt
  FROM RAW_DATA.GRANDATA.CARD_SALES_INFO
  UNPIVOT(value FOR usage IN ({unp_cols}))
)
SELECT 
  b.PROVINCE_CODE,
  b.CITY_CODE,
  b.DISTRICT_CODE,
  m.CITY_KOR_NAME AS CITY_NAME,
  m.DISTRICT_KOR_NAME AS DISTRICT_NAME,
  b.STANDARD_YEAR_MONTH,
  LEFT(b.STANDARD_YEAR_MONTH, 4) AS YEAR,
  RIGHT(b.STANDARD_YEAR_MONTH, 2) AS MONTH,
  b.CARD_TYPE,
  b.WEEKDAY_WEEKEND,
  b.GENDER,
  b.AGE_GROUP,

  CASE b.TIME_SLOT
    WHEN 'T06' THEN 'ÏïÑÏπ®'
    WHEN 'T09' THEN 'Ïò§Ï†Ñ'
    WHEN 'T12' THEN 'Ï†êÏã¨'
    WHEN 'T15' THEN 'Ïò§ÌõÑ'
    WHEN 'T18' THEN 'Ï†ÄÎÖÅ'
    WHEN 'T21' THEN 'Ïã¨Ïïº'
    WHEN 'T24' THEN 'Í∏∞ÌÉÄ'
    ELSE b.TIME_SLOT
  END AS TIME_SLOT_KOR,

  CASE b.LIFESTYLE
    WHEN 'L01' THEN 'Ïã±Í∏Ä'
    WHEN 'L02' THEN 'Ïã†ÌòºÎ∂ÄÎ∂Ä'
    WHEN 'L03' THEN 'ÏòÅÏú†ÏïÑÍ∞ÄÏ°±'
    WHEN 'L04' THEN 'Ï≤≠ÏÜåÎÖÑÍ∞ÄÏ°±'
    WHEN 'L05' THEN 'ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±'
    WHEN 'L06' THEN 'Ïã§Î≤Ñ'
    ELSE b.LIFESTYLE
  END AS LIFESTYLE_KOR,

  b.usage_clean,
  b.sales_amt,
  f.KGCO2E_PER_1000KRW,
  (b.sales_amt / 1000) * f.KGCO2E_PER_1000KRW AS CO2E_KG

FROM base b
JOIN M_SCCO_MST m
  ON b.CITY_CODE = m.CITY_CODE AND b.DISTRICT_CODE = m.DISTRICT_CODE
LEFT JOIN USAGE_FACTOR_TBL f
  ON upper(b.usage_clean) = upper(f.USAGE)
"""

session.sql(create_view).collect()
print("‚úÖ CARD_CO2E_VW Î∑∞ Ïû¨ÏÉùÏÑ± ÏôÑÎ£å üéâ")

SnowparkSQLException: (1304): 01bbe65b-0000-cc9d-0000-d4710004a08a: 003540 (42501): SQL execution error: Creating view on shared database 'RAW_DATA' is not allowed.

In [365]:
session.table("CARD_CO2E_VW").limit(5).to_pandas()

SnowparkSQLException: (1304): 01bbe659-0000-cd0e-0000-d47100045522: 002003 (42S02): SQL compilation error:
Object 'CARD_CO2E_VW' does not exist or not authorized.

In [322]:
session.table("USAGE_FACTOR_TBL").to_pandas()

                     USAGE  KGCO2E_PER_1000KRW
0                     FOOD              0.1907
1                   COFFEE              0.2018
2            ENTERTAINMENT              0.0626
3         DEPARTMENT_STORE              0.1171
4     LARGE_DISCOUNT_STORE              0.1171
5       SMALL_RETAIL_STORE              0.1321
6     CLOTHING_ACCESSORIES              0.1058
7   SPORTS_CULTURE_LEISURE              0.3711
8            ACCOMMODATION              0.1087
9                   TRAVEL              0.1715
10                  BEAUTY              0.1236
11       HOME_LIFE_SERVICE              0.0824
12       EDUCATION_ACADEMY              0.0771
13                 MEDICAL              0.0753
14   ELECTRONICS_FURNITURE              0.0923
15                     CAR              0.1251
16    CAR_SERVICE_SUPPLIES              0.0751
17             GAS_STATION              0.2973
18              E_COMMERCE              0.0479

In [324]:
session.table("CARD_CO2E_VW").limit(10).to_pandas()

,PROVINCE_CODE,CITY_CODE,DISTRICT_CODE,STANDARD_YEAR_MONTH,CARD_TYPE,WEEKDAY_WEEKEND,GENDER,AGE_GROUP,TIME_SLOT_KOR,LIFESTYLE_KOR,USAGE_CLEAN,SALES_AMT,KGCO2E_PER_1000KRW,CO2E_KG
0,11,11140,11140148,202210,1,W,M,45,Ïò§Ï†Ñ,ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±,FOOD,13404,0.1907,2.556143
1,11,11140,11140148,202210,1,W,M,45,Ïò§Ï†Ñ,ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±,COFFEE,0,0.2018,0.000000
2,11,11140,11140148,202210,1,W,M,45,Ïò§Ï†Ñ,ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±,ENTERTAINMENT,0,0.0626,0.000000
3,11,11140,11140148,202210,1,W,M,45,Ïò§Ï†Ñ,ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±,DEPARTMENT_STORE,0,0.1171,0.000000
4,11,11140,11140148,202210,1,W,M,45,Ïò§Ï†Ñ,ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±,LARGE_DISCOUNT_STORE,0,0.1171,0.000000
5,11,11140,11140148,202210,1,W,M,45,Ïò§Ï†Ñ,ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±,SMALL_RETAIL_STORE,20374,0.1321,2.691405
6,11,11140,11140148,202210,1,W,M,45,Ïò§Ï†Ñ,ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±,CLOTHING_ACCESSORIES,0,0.1058,0.000000
7,11,11140,11140148,202210,1,W,M,45,Ïò§Ï†Ñ,ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±,SPORTS_CULTURE_LEISURE,0,0.3711,0.000000
8,11,11140,11140148,202210,1,W,M,45,Ïò§Ï†Ñ,ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±,ACCOMMODATION,0,0.1087,0.000000
9,11,11140,11140148,202210,1,W,M,45,Ïò§Ï†Ñ,ÏÑ±Ïù∏ÏûêÎÖÄÍ∞ÄÏ°±,TRAVEL,0,0.1715,0.000000

In [325]:
# Ïõî, ÏÇ¨Ïö©Ï≤òÎ≥Ñ CO2 ÏßëÍ≥Ñ ÌôïÏù∏
# ÏõîÎ≥Ñ¬∑ÏÇ¨Ïö©Ï≤òÎ≥Ñ CO‚ÇÇe, Îß§Ï∂úÎèÑ Í∞ôÏù¥ Î≥¥Í≥† Ïã∂Îã§Î©¥
session.sql("""
SELECT  STANDARD_YEAR_MONTH,
        usage_clean            AS USAGE,
        SUM(sales_amt)         AS TOTAL_SALES,
        SUM(CO2E_KG)           AS TOTAL_CO2E_KG
FROM    CARD_CO2E_VW
GROUP BY 1,2
ORDER BY 1 DESC, 2
LIMIT 20
""").show()

--------------------------------------------------------------------------------------
|"STANDARD_YEAR_MONTH"  |"USAGE"                |"TOTAL_SALES"  |"TOTAL_CO2E_KG"     |
--------------------------------------------------------------------------------------
|202312                 |ACCOMMODATION          |82114660653    |8925863.6129811     |
|202312                 |BEAUTY                 |34279869869    |4236991.9158084     |
|202312                 |CAR                    |720534236466   |90138832.98189658   |
|202312                 |CAR_SERVICE_SUPPLIES   |33522550110    |2517543.5132609997  |
|202312                 |CLOTHING_ACCESSORIES   |52080090221    |5510073.545381799   |
|202312                 |COFFEE                 |127529325595   |25735417.905071     |
|202312                 |DEPARTMENT_STORE       |552262545597   |64669944.0894087    |
|202312                 |EDUCATION_ACADEMY      |152106449347   |11727407.2446537    |
|202312                 |ELECTRONICS_FURNITURE  |81489343127    |7521466.370622099   |
|202312                 |ENTERTAINMENT          |15126648783    |946928.2138157999   |
--------------------------------------------------------------------------------------

In [309]:
# Ïó¨Í∏∞ÏÑú streamlit - app.pyÎ°ú Ìï®